﻿@model startProject1.Models.ReportsModel
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    System.Security.Claims.ClaimsIdentity user = (System.Security.Claims.ClaimsIdentity)(User.Identity);
    string loggedUser;
    if (user != null)
    {
        loggedUser = System.Net.WebUtility.UrlEncode(user.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Name).Select(c => c.Value).SingleOrDefault());
        loggedUser = loggedUser.Replace("+", " ");
    }
    else
    {
        loggedUser = "";
    }
}
@{
    ViewData["Title"] = "Справки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/select2.min.css">

    <script src="~/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>

    <script src="~/js/pdfmake.js" asp-append-version="true"></script>
    <script src="~/js/vfs_fonts.js" asp-append-version="true"></script>
    <script src="~/js/select2.min.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/dataTables.min.css" asp-append-version="true" runat="server" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/select2.min.css">

    <script src="~/js/jquery.dataTables.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/jquery-ui.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/pdfmake.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/select2.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/vfs_fonts.js" asp-append-version="true" runat="server"></script>
</environment>
<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
    }

    .vertical-align-center {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-content {
        width: inherit;
        height: inherit;
        margin: 0 auto;
    }

    .field-validation-error {
        color: #e80c4d;
        font-weight: bold;
    }

    .field-validation-valid {
        display: none;
    }

    input.input-validation-error {
        border: 1px solid #e80c4d;
    }

    input[type="checkbox"].input-validation-error {
        border: 0 none;
    }

    .validation-summary-errors {
        color: #e80c4d;
        font-weight: bold;
        font-size: 1.1em;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
<script>
    var globalParametersObj = [];
    $(document).ready(function ($) {
        $.datepicker.regional['bg'] = {
            monthNames: ['Януари', 'Фебруари', 'Март', 'Април', 'Май', 'Юни', 'Юли', 'Август', 'Спетември', 'Октомври', 'Ноември', 'Декмври'],
            monthNamesShort: ['Яну', 'Фев', 'Мар', 'Апр', 'Май', 'Юни', 'Юли', 'Авг', 'Сеп', 'Окт', 'Нов', 'Дек'],
            dayNamesShort: ['По', 'Вт', 'Ср', 'Че', 'Пе', 'Съ', 'Нд'],
            dayNamesMin: ['По', 'Вт', 'Ср', 'Че', 'Пе', 'Съ', 'Нд'],
            dateFormat: 'dd.mm.yy',
            firstDay: 0,
            changeMonth: true,
            changeYear: true,
            showMonthAfterYear: false
        };
        $.datepicker.setDefaults($.datepicker.regional['bg'])
    });

    function callReport() {
        var reportId = $("#reportName").val();
        if ( (typeof reportId == "undefined" ) || ( parseInt(reportId) == 0 )){
            alert("Моля изберете име на справка");
            $("#reportName").find(":selected").focus();
            return -1;
        };

        var dataJSONObj = { "userName": "@loggedUser", "reportId": reportId, "reportParameters": [] };
        if (globalParametersObj.length > 0) {
            for (var i = 0; i < globalParametersObj.length; i++) {
                if (typeof $("#" + globalParametersObj[i].parameterId).val() != "undefined" && $("#" + globalParametersObj[i].parameterId).val() != "") {
                    var paramObj = {};
                    paramObj.parameterId = globalParametersObj[i].parameterId;
                    paramObj.parameterType = globalParametersObj[i].parameterType;
                    paramObj.parameterValue = $("#" + globalParametersObj[i].parameterId).val();
                    dataJSONObj.reportParameters.push(paramObj);
                }
            };
        };
        var dataJSON = JSON.stringify(dataJSONObj);
        $.ajax({
            type: "POST",
            url: "/Reports/executeReport",
            data: dataJSON,
            contentType: "application/json; charset=utf-8",
            headers: {
                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
            },
            dataType: "json",
            cache: "false",
            async: false,
            success: function (msg) {
                var dataToLoad = msg;
                if (dataToLoad.resultState == true) {
                    createTableWithData(JSON.parse(dataToLoad.resultParameters));
                }
                return true;
            },
            error: function (msg) {
                alert("error : " + JSON.stringify(msg));
                return false;
            }
        });

        return true;
    }

    function createTableWithData(dataJSON) {
        var tableHeaders = "";
        var tableFooter = "";
        $.each(dataJSON.columns, function (i, val) {
            tableHeaders += "<th>" + val.title + "</th>";
            tableFooter += '<th><input type="text" placeholder="' + val.title + '" /></th>';
        });
        $("#tableDiv").empty();
        $("#tableDiv").append('<table id="tableData" class="display responsive nowrap" cellspacing="0" width="100%"><thead><tr>' + tableHeaders + '</tr></thead><tfoot><tr>' + tableFooter + '</tr></tfoot></table>');
        $("#tableData").dataTable(dataJSON);
        setClickOnFooterFn();
        setClickBodyFn();
    };


    function createTableWithDataOld(dataJSON) {
        var tableHeaders = "";
        var tableFooter = "";
        $.each(dataJSON.columns, function (i, val) {
            tableHeaders += "<th>" + val.title + "</th>";
            tableFooter += '<th><input type="text" placeholder="' + val.title +'" /></th>';
        });
        $("#tableDiv").empty();
        $("#tableDiv").append('<table id="tableData" class="display responsive nowrap" cellspacing="0" width="100%"><thead><tr>' + tableHeaders + '</tr></thead><tfoot><tr>' +tableFooter+ '</tr></tfoot></table>');
        $("#tableData").dataTable(dataJSON);
        setClickOnFooterFn();
        setClickBodyFn();
    };

    function setClickOnFooterFn() {
        var table = $('#tableData').DataTable();
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that.search(this.value).draw();
                }
            });
        });
    }

    function setClickBodyFn() {
        $('#tableData tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                $('#tableData tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    };

    function getReportParameters(reportNameId) {
        var reportValue = $("#" + reportNameId.id).val();
        $("#divParameters").empty();
        if (reportValue == "") {
            return false;
        };

        var dataJSON = JSON.stringify({ "userName": "@loggedUser", "reportId": reportValue });
        $.ajax({
            type: "POST",
            url: "/Reports/getReportParameters",
            data: dataJSON,
            contentType: "application/json; charset=utf-8",
            headers: {
                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
            },
            dataType: "json",
            cache: "false",
            async: false,
            success: function (msg) {
                var dataToLoad = msg;
                if (typeof dataToLoad == "object") {
                    globalParametersObj = msg;
                    for (var i = 0; i < dataToLoad.length; i++) {
                        $("#divParameters").append(dataToLoad[i].parameterHtml);
                        if (dataToLoad[i].parameterType == "Date") {
                            $("#" + dataToLoad[i].parameterId).datepicker();
                            $("#" + dataToLoad[i].parameterId).datepicker("setDate", new Date());
                        }
                    }
                }
                return true;
            },
            error: function (msg) {
                alert("error : " + JSON.stringify(msg));
                return false;
            }
        });
    };
</script>


<h2>Справки</h2>

<div id="reports">
    <form id="orderDetailsForm" method="post" action="javascript:void(0);">
        <fieldset>
            <div id="dataBody">
                <table border="1" frame="void" rules="rows" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="left" valign="middle">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.reportNameList)
                                        </div>
                                        <div class="editor-field">
                                            @Html.DropDownListFor(u => u.reportNameList, new SelectList(Model.reportNameList, "Value", "Text"), "", new { @id = "reportName", @onchange = "getReportParameters(this);" })
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="divParameters">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnExecuteReport" onclick="callReport();">Изпълни справка</button>
            </div>
            <div id="tableDiv"></div>
        </fieldset>
    </form>

</div>
