﻿@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    System.Security.Claims.ClaimsIdentity user = (System.Security.Claims.ClaimsIdentity)(User.Identity);
    string loggedUser;
    string userRightFull = "";
    string userRightLayout = "";
    string loggedUserStation = "";
    if (user != null)
    {
        loggedUser = user.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Name).Select(c => c.Value).SingleOrDefault();
        if (loggedUser != null && (user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, user.Name)))
        {
            try
            {
                userRightFull = UsersViewModel.getUserFieldByName(loggedUser, "[userRightCode] + ',' + [stationName]", ViewData["ConnectionString"].ToString());
                userRightLayout = userRightFull.Substring( 0, userRightFull.IndexOf(','));
                loggedUserStation = userRightFull.Substring(userRightFull.IndexOf(',')+1);
            }
            catch (InvalidOperationException ex)
            {
                //Some message
            }
        }

    }
    else
    {
        loggedUser = "";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rexcourier</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/main.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" runat="server" />
    </environment>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <!-- Geocoding examples -->
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
        <!-- Geocoding examples -->

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

        <script src="~/js/site.js" asp-append-version="true" runat="server"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true" runat="server"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.js" asp-append-version="true" runat="server"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true" runat="server"></script>

        <!-- Geocoding examples -->
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
        <!-- Geocoding examples -->

    </environment>
    @RenderSection("Scripts", required: false)
</head>
<body>

    <header id="header" class="site-header" role="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-ui">


                    </div>
                </div>
            </div>
        </div>
        <div class="nav-area" style="margin-top:10px">
            <div class="container">
                <div class="row">
                    <span class="visual-corner-01"></span> <span class="visual-corner-02"></span>
                    <div class="col-md-12">
                        <div class="site-title" style="color:#7ab800; margin-top:3px">
                            <table>
                                <tr>
                                    <td>
                                        <a class="logo default-logo" style="text-decoration: none !important;" href=".." title="">
                                            <h1 align="center" style="color:#7ab800; display: flex; flex-direction: column; justify-content: center;text-align: center;">
                                                Rexcourier
                                            </h1>
                                        </a>
                                    </td>
                                    @{
                                        if (@user.IsAuthenticated)
                                        {
                                            <td style="padding-left:10px; padding-right:50px; padding-top:10px;">
                                                <table style="text-align:left">
                                                    <tr style="border-bottom: 1px solid">
                                                        <td><h5>Станция: <b style="color:#000000;"> @loggedUserStation</b></h5></td>
                                                    </tr>
                                                    <tr style="border-bottom: 1px solid">
                                                        <td><h5>Права на потребител: <b style="color:#000000;">@userRightLayout</b></h5></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        }
                                    }
                                </tr>
                            </table>
                        </div>
                        <div class="pull-right toggle-buttons" style="position:relative; z-index:9990"> <a id="js-nav-toggle" class="nav-toggle"><i class="icon-menu"></i></a> </div>
                        <div id="js-main-nav" class="main-nav">
                            <nav class="sort-pages modify-pages" id="navigation">
                                <ul>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Главно меню</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Обратна връзка</a></li>
                                    @{
                                        if (@user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, @user.Name))
                                        {
                                            <li><a asp-area="" asp-controller="Home" asp-action="OrderForm">Поръчки</a></li>
                                            <li><a asp-area="" asp-controller="Home" asp-action="AdminForm">Администраторски панел</a></li>
                                        }
                                    }
                                    @{
                                        if (@user.IsAuthenticated)
                                        {
                                            <li><a asp-area="" asp-controller="Home" asp-action="Logout" asp-route-userName="@loggedUser">Изход (<b>@loggedUser</b>)</a></li>
                                        }
                                        else
                                        {
                                            <li><a asp-area="" asp-controller="Home" asp-action="Login">Вход</a></li>
                                        }
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Rexcourier</p>
        </footer>
    </div>

</body>
<script type="text/javascript">
    $('#js-nav-toggle').click(function () {
        if (!$('#js-main-nav').hasClass("open")) {
            $('#js-main-nav').toggleClass("open")
        } else {
            $('#js-main-nav').removeClass("open")
        }
    });
</script>
</html>