﻿@model startProject1.Models.ContactsAddress
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    System.Security.Claims.ClaimsIdentity user = (System.Security.Claims.ClaimsIdentity)(User.Identity);
    string loggedUser;
    string hereApiKey = ViewData["hereApiKey"].ToString();
    if (user != null)
    {
        loggedUser = System.Net.WebUtility.UrlEncode(user.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Name).Select(c => c.Value).SingleOrDefault());
        loggedUser = loggedUser.Replace("+", " ");
    }
    else
    {
        loggedUser = "";
    }
}

@{
    ViewData["Title"] = "Контакти (адресна книга)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive.dataTables.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css">

    <script src="~/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/js/dataTables.responsive.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>

    <!-- Geocoding examples -->
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <!-- Geocoding examples -->

</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/dataTables.min.css" asp-append-version="true" runat="server" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive.dataTables.min.css" runat="server" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" asp-append-version="true" runat="server" />

    <script src="~/js/jquery.dataTables.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/dataTables.responsive.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/jquery-ui.min.js" asp-append-version="true" runat="server"></script>
    <!-- Geocoding examples -->
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <!-- Geocoding examples -->
</environment>

<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
    }

    .vertical-align-center {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-content {
        width: inherit;
        height: inherit;
        margin: 0 auto;
    }

    .field-validation-error {
        color: #e80c4d;
        font-weight: bold;
    }

    .field-validation-valid {
        display: none;
    }

    input.input-validation-error {
        border: 1px solid #e80c4d;
    }

    input[type="checkbox"].input-validation-error {
        border: 0 none;
    }

    .validation-summary-errors {
        color: #e80c4d;
        font-weight: bold;
        font-size: 1.1em;
    }

    .validation-summary-valid {
        display: none;
    }

</style>

<script>
    var editState = "";
    var geoLocationDefaults = {
        "latitude": "",
        "longitude": "",
        "displayName": ""
    };
    $(document).ready(function () {
        jQuery.extend(jQuery.validator.messages, {
            //required: "This field is required.",
            //remote: "Please fix this field.",
            //email: "Please enter a valid email address.",
            //url: "Please enter a valid URL.",
            //date: "Please enter a valid date.",
            //dateISO: "Please enter a valid date (ISO).",
            //number: "Please enter a valid number.",
            //digits: "Please enter only digits.",
            //creditcard: "Please enter a valid credit card number.",
            //equalTo: "Please enter the same value again.",
            //accept: "Please enter a value with a valid extension.",
            //maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
            //minlength: jQuery.validator.format("Please enter at least {0} characters."),
            //rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
            //range: jQuery.validator.format("Please enter a value between {0} and {1}."),
            //max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
            min: jQuery.validator.format("Моля въведете число по голямо или равно на {0}.")
        });

        (function ($) {
            $.fn.updateValidation = function () {
                var $this = $(this);
                var form = $this.closest("form").removeData("validator").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse(form);
                return $this;
            };
        })(jQuery);

        $("#editUsersForm").attr("data-val-range-min", this.checked ? "1" : "2").updateValidation();

        callReadData("callContactsData");
        checkStationsOptionGeeLocation();
    });

    function checkStationsOptionGeeLocation() {
        $("#stationId option").each(function () {
            if (this.value.indexOf('_') > -1) {
                var positionJSON = JSON.parse(this.value.substr(this.value.indexOf('_')+1, this.value.length) );
                this.value = this.value.substr(0, this.value.indexOf('_'));
                $(this).attr("data-latitude", positionJSON.latitude);
                $(this).attr("data-longitude", positionJSON.longitude);
            }
        })
    };

    function setButtonState(value) {
        if (value) {
            $("#editContacts").show()
            $("#dataBody").addClass("disabledbutton");
            $("#editButtonDiv").addClass("disabledbutton");
            geoLocationDefaults = {
                "latitude": "",
                "longitude": "",
                "displayName": ""
            };
        } else {
            $("#editContacts").hide()
            $("#dataBody").removeClass("disabledbutton");
            $("#editButtonDiv").removeClass("disabledbutton");
        }
    }

    function newObject() {
        setButtonState(true);
        editState = "insert";
        $("#geoLocationId").html("");
        $("#geoLocationMapImage").attr("src", "");
        $("tr.hidableTRStationList").hide();
        $("tr.hidableTRImage").hide();
    }

    function editObject() {
        var table = $('#tableData').DataTable();
        if (table.rows('.selected').any()) {
            setButtonState(true);
            editState = "edit";
            var dataArray = table.rows('.selected').data()[0];
            $.each(dataArray, function (i, v) {
                if (typeof v != "undefined" && v != "") {
                    $("#" + i).val(v);
                }
            });
            $("#priceGroupList option").filter(function () { return $(this).text() == dataArray.priceGroupName; }).prop("selected", true);
            $("tr.hidableTRStationList").hide();
            $("tr.hidableTRImage").hide();
        } else {
            alert("Моля изберете контакт.")
        }
    }

    /*Start geocodes test*/
    function geoCodeGetMapImage(latitude, longitude) {
        var imagStr = "https://image.maps.ls.hereapi.com/mia/1.6/mapview?apiKey=@hereApiKey&c=" + latitude + "," + longitude+"&t=0&z=15&nodot"
        $("#geoLocationMapImage").attr("src", imagStr);
    }

    function geocodeFindAddress(platform) {
        if ($("#contactAddress").val().trim() == "" || $("#contactCity").val().trim() == "" || $("#contactCountry").val().trim() == "") {
            return;
        }

        var geocoder = platform.getGeocodingService(),
            geocodingParameters = {
                street: $("#contactAddress").val(),
                city: $("#contactCity").val(),
                country: $("#contactCountry").val(),
                jsonattributes: 1
            };

            geocoder.geocode(
                geocodingParameters,
                onGeocodeSuccess,
                onGeocodeError
            );
    }

    function onGeocodeSuccess(result) {
        if (result.response.view.length > 0) {
            var locations = result.response.view[0].result;
            geoLocationDefaults.latitude = locations[0].location.displayPosition.latitude;
            geoLocationDefaults.longitude = locations[0].location.displayPosition.longitude;
            geoLocationDefaults.displayName = locations[0].location.address.label;
            //Only if we found the location

            var vHTML = 'latitude : ' + geoLocationDefaults.latitude + ' | ';
            vHTML += 'longitude : ' + geoLocationDefaults.longitude + ' | ';
            vHTML += 'display_name : ' + geoLocationDefaults.displayName + ' | ';
            $("#geoLocationId").html(vHTML);
            geoCodeGetMapImage(geoLocationDefaults.latitude, geoLocationDefaults.longitude);
            $("tr.hidableTRImage").show();
        } else {
            //If locaion is not found we need to show stations
            $("tr.hidableTRStationList").show();
        }
    }

    function onGeocodeError(error) {
        alert("HERE: Грешка  - " + error);
    }

    var platform = new H.service.Platform({
        apikey: "@hereApiKey"
    });

    //Get position from station selection
    function setStationIdGeLocation(vValue) {
        if ($(vValue.options[vValue.selectedIndex]).val() != "-1" && $(vValue.options[vValue.selectedIndex]).data("latitude") != "" && $(vValue.options[vValue.selectedIndex]).data("longitude") != "") {
            geoLocationDefaults.latitude = $(vValue.options[vValue.selectedIndex]).data("latitude");
            geoLocationDefaults.longitude = $(vValue.options[vValue.selectedIndex]).data("longitude");
            geoLocationDefaults.displayName = $(vValue.options[vValue.selectedIndex]).text();
            //Only if we found the location

            var vHTML = 'latitude : ' + geoLocationDefaults.latitude + ' | ';
            vHTML += 'longitude : ' + geoLocationDefaults.longitude + ' | ';
            vHTML += 'display_name : ' + geoLocationDefaults.displayName + ' | ';
            $("#geoLocationId").html(vHTML);
            geoCodeGetMapImage(geoLocationDefaults.latitude, geoLocationDefaults.longitude);
            $("tr.hidableTRImage").show();
        } else {
            geoLocationDefaults.latitude = "";
            geoLocationDefaults.longitude = "";
            geoLocationDefaults.displayName = "";
            var vHTML = 'latitude : ' + geoLocationDefaults.latitude + ' | ';
            vHTML += 'longitude : ' + geoLocationDefaults.longitude + ' | ';
            vHTML += 'display_name : ' + geoLocationDefaults.displayName + ' | ';
            $("#geoLocationId").html(vHTML);
            geoCodeGetMapImage(geoLocationDefaults.latitude, geoLocationDefaults.longitude);
            $("tr.hidableTRImage").hide();

        }
    }
    /*End geocode tests*/

    function searchStrInArr(vArr, vSearchStr) {
        for (var i = 0; i < vArr.length; i++) {
            if (vArr[i].paramName == vSearchStr) return i;
        }
        return -1;
    }

    function callReadData(actionCall) {
        setButtonState(false);
        var table = $("#tableData").DataTable({
            destroy: true,
            serverSide: true,
            processing: true,
            paging: true,
            searching: { "regex": true },
            start: 0,
            length: 10,
            lengthMenu: [[10, 25, 50, 100], [10, 25, 50, 100]],
            pageLength: 10,
            ajax: {
                type: "POST",
                url: "/Admin/" + actionCall,
                data: function (v) {
                    var searchV = "";
                    var searchGlobal = "";
                    var searchArray = [];
                    var searchArrayGlobal = [];
                    for (var i = 0; i < v.columns.length; i++) {
                        if (v.columns[i].search.value.toString().length > 0) {
                            var searchArrayObject = { "paramName": "", "paramValue": "", "paramCondition": "and" };
                            searchV += " and " + v.columns[i].data + " like '%" + v.columns[i].search.value.toString() + "%'";
                            searchArrayObject.paramName = v.columns[i].data;
                            searchArrayObject.paramValue = v.columns[i].search.value.toString();
                            searchArray.push(searchArrayObject);
                        }
                    }

                    if (v.search.value != "") {
                        searchGlobal = "and (";
                        for (var i = 0; i < v.columns.length; i++) {
                            if (searchStrInArr(searchArray, v.columns[i].data) == -1) {
                                var searchArrayObject = { "paramName": "", "paramValue": "", "paramCondition": "or" };
                                searchGlobal += (i > 0 ? " or " : "") + v.columns[i].data + " like '%" + v.search.value.toString() + "%'";
                                searchArrayObject.paramName = v.columns[i].data;
                                searchArrayObject.paramValue = v.search.value.toString();
                                searchArrayGlobal.push(searchArrayObject);
                            }
                        }
                        searchGlobal += " )";
                    }

                    v.userName = "@loggedUser";
                    v.whereClause = searchV + searchGlobal;
                    v.searchArray = searchArray;
                    v.searchArrayGlobal = searchArrayGlobal;
                    v.searchArrayLength = searchArray.length;
                    v.searchArrayGlobalLength = searchArrayGlobal.length;
                    v.sortBy = " order by " + v.columns[v.order[0].column].data + " " + v.order[0].dir + " ";
                    v.rowLength = v.length;
                    var table2 = $("#tableData").DataTable();
                    v.currentPage = table2.page.info().page;
                    return JSON.stringify(v);
                },
                contentType: "application/json; charset=utf-8",
                headers: {
                    "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                },
                dataType: "json",
                cache: "false",
                async: false
            },
            columns: [
                { data: "autoId" },
                { data: "contactCompanyName" },
                { data: "contactFirstName" },
                { data: "contactMidleName" },
                { data: "contactLastName" },
                { data: "contactCountry" },
                { data: "contactCity" },
                { data: "contactAddress" },
                { data: "contactPhone" },
                { data: "contactEmail" },
                { data: "priceGroupName" },
                { data: "conctactNearestStationName" },
                { data: "contactLatitudeNum" },
                { data: "contactLongitudeNum" }
            ]
        });

        table.columns([3, 5]).visible(false, false);
        if ($('#tableData' + ' tfoot th').html().indexOf("input type") == -1) {
            $('#tableData tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="' + title + '" />');
            });

            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });

            $('#tableData tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
        };

    }

    function deleteObject() {
        var table = $('#tableData').DataTable();
        if (table.rows('.selected').any()) {
            if (confirm("Искате ли да изтриете потребител?")) {
                editState = "delete";
                saveObject();
            }
        } else {
            alert("Моля изберете потребител.")
        }
    }

    function cancelNewObject() {
        setButtonState(false);
    }

    function checkContactPhoneBeforeSave(dataJSON) {
        var vResult = true;

        $.ajax({
            type: "POST",
            url: "checkContactPhoneBeforeSave",
            data: dataJSON,
            contentType: "application/json; charset=utf-8",
            headers: {
                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
            },
            dataType: "json",
            cache: "false",
            async: false,
            success: function (msg) {
                var vResultJson = JSON.parse(msg);
                vResult = (vResultJson.resultMessage == "Phone exist" );
            }
        });

        return vResult;
    }

    function saveObject() {
        var table = $('#tableData').DataTable();
        if (!$("#editContactsForm").valid()) {
            return false;
        };
        if (geoLocationDefaults.longitude == "" || geoLocationDefaults.latitude == "") {
            alert("Геолокация задължителна! Ако адреса не може да бъде намерен изберете станция.");
            $("#stationId").focus();
            return false;
        }
        geocodeFindAddress(platform);
        var dataJSON = {};
        $('#editContactsForm').find('input, select, textarea').each(function () {
            if (typeof $(this).attr('name') != "undefined") {
                dataJSON[$(this).attr('name')] = $(this).val();
            }
        });
        dataJSON.contactLongitude = geoLocationDefaults.longitude;
        dataJSON.contactLatitude = geoLocationDefaults.latitude;
        dataJSON.priceGroupId = $("#priceGroupList").val();

        dataJSON.userName = "@loggedUser";

        if (editState == "edit" || editState == "delete") {
            dataJSON.contactAutoId = table.rows('.selected').data()[0].autoId;
        };
        var dataJSON = JSON.stringify({ dataJSON });
        var urltocall = "";
        if (editState == "insert") {
            urltocall = "/Admin/saveContacts"
            if (checkContactPhoneBeforeSave(dataJSON)) {
                alert("Този телефон вече е регистриран в базата от данни");
                $('#contactPhone').focus();
                return false;
            }
        }
        if (editState == "edit") {
            urltocall = "/Admin/editContacts"
        }
        if (editState == "delete") {
            urltocall = "/Admin/deleteContacts"
        }
        $.ajax({
            type: "POST",
            url: urltocall,
            data: dataJSON,
            contentType: "application/json; charset=utf-8",
            headers: {
                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
            },
            dataType: "json",
            cache: "false",
            async: false,
            success: function (msg) {
                //callReadData("callContactsData");
                var vResult = JSON.parse(msg);
                if (vResult.resultState == true) {
                    $('#tableData').DataTable().ajax.reload();
                    return;
                }
                else {
                    alert("Грешка при операция : " + vResult.resultMessage);
                    return;
                }
            },
            complete: function (msg) {
            },
            error: function (msg) {
                alert("error : " + JSON.stringify(msg));
                return false;
            }
        });

    }

</script>
<h2>Контакти (адресна книга)</h2>
<div id="editContacts">
    <form id="editContactsForm" method="post">
        <fieldset>
            <div>
                <table border="0" frame="void" rules="rows" width="100%" cellpadding="0" cellspacing="0">

                    <tr>
                        <td align="center" valign="top">
                            <table border="0" frame="void" rules="rows" width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="left" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.contactCompanyName)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.contactCompanyName)
                                        </div>
                                    </td>
                                    <td align="left" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.contactFirstName)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.contactFirstName, new { required = "required" })
                                            @Html.ValidationMessageFor(u => u.contactFirstName)
                                        </div>
                                    </td>
                                    <td align="left" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.contactMidleName)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.contactMidleName)
                                        </div>
                                    </td>
                                    <td align="left" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.contactLastName)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.contactLastName, new { required = "required" })
                                            @Html.ValidationMessageFor(u => u.contactLastName)
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="center" valign="top" width="20%">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.contactCountry)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.contactCountry, new { style = "width:180px" })
                                        </div>
                                    </td>
                                    <td align="center" valign="top" width="30%">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.contactCity)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.contactCity, new { required = "required", style = "width:250px", onfocusout = "geocodeFindAddress(platform);" })
                                            @Html.ValidationMessageFor(u => u.contactCity)
                                        </div>
                                    </td>
                                    <td align="center" valign="top" width="50%">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.contactAddress)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.contactAddress, new { required = "required", style = "width:450px", onfocusout = "geocodeFindAddress(platform);" })
                                            @Html.ValidationMessageFor(u => u.contactAddress)
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="center" valign="top" width="20%">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.contactPhone)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.contactPhone, new { required = "required", style = "width:180px" })
                                            @Html.ValidationMessageFor(u => u.contactPhone)
                                        </div>
                                    </td>
                                    <td align="center" valign="top" width="30%">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.contactEmail)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.contactEmail, new { required = "required", style = "width:340px" })
                                            @Html.ValidationMessageFor(u => u.contactEmail)
                                        </div>
                                    </td>
                                    <td align="center" valign="top" width="50%">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.priceGroupList)
                                        </div>
                                        <div class="editor-field">
                                            @Html.DropDownListFor(u => u.priceGroupList, new SelectList(Model.priceGroupList, "Value", "Text"), new { @class = "form-control" })
                                        </div>
                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="1" width="100%" cellpadding="0" cellspacing="0">
                                <tr class="hidableTRGeoLocation">
                                    <td align="center" valign="top" width="100%">
                                        <div class="editor-label">
                                            <label for="geoLocationId">Най близка ГЕО локация: </label>
                                            <span id="geoLocationId" name="geoLocationId" type="text" readonly></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="hidableTRImage">
                                    <td align="center" valign="top" width="100%">
                                        <div class="editor-label">
                                            <img id="geoLocationMapImage" name="geoLocationMapImage" src="" />
                                        </div>
                                    </td>
                                </tr>
                                <tr class="hidableTRStationList">
                                    <td align="center" valign="top" width="50%">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.stationIdList)
                                        </div>
                                        <div class="editor-field">
                                            @Html.DropDownListFor(u => u.stationIdList, new SelectList(Model.stationIdList, "Value", "Text"), new { @class = "form-control", @id = "stationId", required = "required", @onchange = "setStationIdGeLocation(this);" })
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>
            <div>
                @Html.ValidationMessage("CHECK_USERS")
            </div>

            <input type="submit" class="btn btn-primary" value="Запази" onClick="return saveObject()" />
            <input type="reset" class="btn btn-primary" value="Отказ" onClick="cancelNewObject()" />
        </fieldset>
    </form>
</div>
<div id="dataBody">
    <p>Потребители</p>
        <table id="tableData" class="display responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">№</th>
                    <th class="all">Фирма</th>
                    <th class="all">Име</th>
                    <th class="none">Презиме</th>
                    <th class="all">Фамилия</th>
                    <th class="none">Държава</th>
                    <th class="all">Град</th>
                    <th class="none">Адрес</th>
                    <th class="all">Телефон</th>
                    <th class="none">Емейл</th>
                    <th class="none">Ценова група</th>
                    <th class="desktop">Най близка станция</th>
                    <th class="none">Географска ширина</th>
                    <th class="none">Географска дължина</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>№</th>
                    <th>Фирма</th>
                    <th>Име</th>
                    <th>Презиме</th>
                    <th>Фамилия</th>
                    <th>Държава</th>
                    <th>Град</th>
                    <th>Адрес</th>
                    <th>Телефон</th>
                    <th>Емейл</th>
                    <th>Ценова група</th>
                    <th>Най близка станция</th>
                    <th>Географска ширина</th>
                    <th>Географска дължина</th>
                </tr>
            </tfoot>
            <tbody></tbody>
        </table>
</div>
<div id="editButtonDiv">
    <button id="btnNew" class="btn btn-primary" onclick="newObject()">Нов контакт</button>
    <button id="btnDelete" class="btn btn-primary" onclick="deleteObject()">Изтрий контакт</button>
    <button id="btnEdit" class="btn btn-primary" onclick="editObject()">Редактирай контакт</button>
</div>
<div class="alert alert-warning" role="alert" id="warningDiv" style="display:none;">
    <span id="showCoordinates" />
</div>

