﻿@model startProject1.Models.FileImportController
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    System.Security.Claims.ClaimsIdentity user = (System.Security.Claims.ClaimsIdentity)(User.Identity);
    string loggedUser;
    if (user != null)
    {
        loggedUser = System.Net.WebUtility.UrlEncode(user.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Name).Select(c => c.Value).SingleOrDefault());
        loggedUser = loggedUser.Replace("+", " ");
    }
    else
    {
        loggedUser = "";
    }
}
@{
    ViewData["Title"] = "FileImport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<environment include="Development">
    <link rel="stylesheet" href="~/css/jquery-ui.css">

    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">

    <script src="~/js/jquery-ui.min.js" asp-append-version="true" runat="server"></script>
</environment>
<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
    }

    .vertical-align-center {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-content {
        width: inherit;
        height: inherit;
        margin: 0 auto;
    }

    .field-validation-error {
        color: #e80c4d;
        font-weight: bold;
    }

    .field-validation-valid {
        display: none;
    }

    input.input-validation-error {
        border: 1px solid #e80c4d;
    }

    input[type="checkbox"].input-validation-error {
        border: 0 none;
    }

    .validation-summary-errors {
        color: #e80c4d;
        font-weight: bold;
        font-size: 1.1em;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
<script>
    $(document).ready(function () {
        $("#divLoading").hide();
    });

    function callFileUpload() {
        if ($("#fileUploadElement").val() == "") {
            alert("Моля изберете файл");
            return -1;
        }

        $("#divLoading").show();
        // Get form
        var form = $("#formFileUpload")[0];

        // Create an FormData object
        var data = new FormData(form);
        data.append("userName", "@loggedUser");
        $.ajax({
            type: "POST",
            url: "/Admin/UloadFile",
            data: data,
                processData: false,
                contentType: false,
                cache: false,
                async: true,
                headers: {
                    "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                },
                /*xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("fileProcess", function (evt) {
                        if (evt.lengthComputable) {
                            var progress = Math.round((evt.loaded / evt.total) * 100);
                            $(".progress-bar").css("width", progress + "%").attr("aria-valuenow", progress);
                            $(".progress-bar").html(progress + "%");
                        }
                    }, false);
                    return xhr;
                },*/
                success: function (data) {
                    $("#fileUploadElement").val("");
                    $("#divLoading").hide();
                    $.each(data, function (key, value) {
                        $("#" + key).html(value);
                    });
                    $('#fileImportDiv').modal("show");
                    
                }
            }
        );

    }

</script>

<h2>Импортиране на файл</h2>

<div id="divLoading"><img src="~/images/loading.gif"/></div>

<div id="bodyFileUpload">
    <form method="POST" id="formFileUpload" action="javascript:void(0);">
        <div>
            <div>
                <p>Изберете файл:</p>
                <input type="file" name="files" id="fileUploadElement" value="Изберете файл" accept=".csv"/>
            </div>
        </div>
        <div>
            <div>
                <button id="btnUpload" class="btn btn-primary" onclick="callFileUpload();">Изпрати файла за създаване на поръчки </button>
            </div>
        </div>
    </form>
</div>

<div id="fileImportDiv" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fileImportDiv" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div id="fileImportResult" class="modal-body">
                    <label id="loadingStatus">Статус: </label><label id="fileProcessedStatusBg"></label><br />
                    <label id="loadingFileCount">Общ брой в файла: </label><label id="fileRecordCount"></label><br />
                    <label id="loadingFileSuccess">Общо записи успех: </label><label id="successCount"></label><br />
                    <label id="loadingFileErrors">Общо записи грешка: </label><label id="errorCount"></label><br />
                    <label id="loadingStatus">Съобщение: </label><br /><label id="returnMessage"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Затвори</button>
                </div>
            </div>
        </div>
    </div>
</div>