﻿@model startProject1.Models.PricesViewModel
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    System.Security.Claims.ClaimsIdentity user = (System.Security.Claims.ClaimsIdentity)(User.Identity);
    string loggedUser;
    if (user != null)
    {
        loggedUser = System.Net.WebUtility.UrlEncode(user.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Name).Select(c => c.Value).SingleOrDefault());
        loggedUser = loggedUser.Replace("+", " ");
    }
    else
    {
        loggedUser = "";
    }
}
@{
    ViewData["Title"] = "Цени";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css">

    <script src="~/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/dataTables.min.css" asp-append-version="true" runat="server" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" asp-append-version="true" runat="server" />

    <script src="~/js/jquery.dataTables.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/jquery-ui.min.js" asp-append-version="true" runat="server"></script>
</environment>
<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css">

    <script src="~/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/dataTables.min.css" asp-append-version="true" runat="server" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">

    <script src="~/js/jquery.dataTables.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/jquery-ui.min.js" asp-append-version="true" runat="server"></script>
</environment>
<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
    }

    .vertical-align-center {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-content {
        width: inherit;
        height: inherit;
        margin: 0 auto;
    }

    .field-validation-error {
        color: #e80c4d;
        font-weight: bold;
    }

    .field-validation-valid {
        display: none;
    }

    input.input-validation-error {
        border: 1px solid #e80c4d;
    }

    input[type="checkbox"].input-validation-error {
        border: 0 none;
    }

    .validation-summary-errors {
        color: #e80c4d;
        font-weight: bold;
        font-size: 1.1em;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
<script>

    // Restricts input for the given textbox to the given inputFilter.
    function setInputFilter_org(textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
            textbox.addEventListener(event, function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
            });
        });
    }

    function setInputFilter(evt, textbox, inputFilter) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = inputFilter;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }

    function calcPers(valueTotal, valuePersantage) {
        var vReturn = (parseFloat(valueTotal) * parseFloat(valuePersantage)) / 100;
        return parseFloat(vReturn.toFixed(2));
    }

    function calculateVat(vInput, vOutputElement) {
        return $("#" + vOutputElement).val(parseFloat(vInput.value ) + calcPers(vInput.value, 20) );
    }

    /*
    // Install input filters.
    setInputFilter(document.getElementById("uintTextBox"), function (value) {
        return /^\d*$/.test(value);
    });
    setInputFilter(document.getElementById("intLimitTextBox"), function (value) {
        return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 500);
    });
    setInputFilter(document.getElementById("intTextBox"), function (value) {
        return /^-?\d*$/.test(value);
    });
    setInputFilter(document.getElementById("floatTextBox"), function (value) {
        return /^-?\d*[.,]?\d*$/.test(value);
    });
    setInputFilter(document.getElementById("currencyTextBox"), function (value) {
        return /^-?\d*[.,]?\d{0,2}$/.test(value);
    });
    setInputFilter(document.getElementById("basicLatinTextBox"), function (value) {
        return /^[a-z]*$/i.test(value);
    });
    setInputFilter(document.getElementById("extendedLatinTextBox"), function (value) {
        return /^[a-z\u00c0-\u024f]*$/i.test(value);
    });
    setInputFilter(document.getElementById("hexTextBox"), function (value) {
        return /^[0-9a-f]*$/i.test(value);
    });

    */

    var editState = "";
    var selectedAutoId = 0;
    $(document).ready(function () {
        (function ($) {
            $.fn.updateValidation = function () {
                var $this = $(this);
                var form = $this.closest("form").removeData("validator").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse(form);
                return $this;
            };
        })(jQuery);

        $("#editStatusesFormCityPrice").attr("data-val-range-min", this.checked ? "1" : "2").updateValidation();
        $("#editStatusesFormInterCityPrice").attr("data-val-range-min", this.checked ? "1" : "2").updateValidation();

        callReadData("readCityPrices", "CityPrice");
        callReadData("readInterCityPrices", "InterCityPrice");

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href").replace("#", "") // activated tab
            //callReadData("read" + target + "s", target);
            //var currentActiveTab = getActiveTab()
            setButtonState(false, target);
            $("#tableData" + (target == "CityPrice" ? "CityPrice" : "InterCityPrice")).DataTable().ajax.reload();
        });

    });

    function getActiveTab() {
        var activeTab = $(".tab-content").find(".active");
        return activeTab.attr('id');
    }

    function setButtonState(value, vTableName) {
        if (value) {
            $("#editStatuses" + vTableName).show();
            $("#priceEditButtonDiv").addClass("disabledbutton");
            $("#dataBody" + vTableName).addClass("disabledbutton");
        } else {
            $("#editStatuses" + vTableName).hide();
            $("#dataBody" + vTableName).removeClass("disabledbutton");
            $("#priceEditButtonDiv").removeClass("disabledbutton");
        }
    }

    function newObject() {
        editState = "insert";
        setButtonState(true, getActiveTab());
    }

    function cancelObject() {
        editState = "";
        setButtonState(false, getActiveTab());
    }

    function deleteObject() {
        var currentActiveTab = getActiveTab();
        var table = $('#tableData' + currentActiveTab).DataTable();
        if (table.rows('.selected').any()) {
            if (confirm("Искате ли да изтриете цена?")) {
                editState = "delete";
                var dataArray = table.rows('.selected').data()[0];
                selectedAutoId = dataArray.autoId;
                saveObject();
            }
        } else {
            alert("Моля изберете цена!")
        }
    }

    function editObject() {
        //  $('#tableDataInterCityprice').DataTable();
        //  $('#tableDataCityPrice').DataTable();

        var currentActiveTab = getActiveTab();
        var table = $('#tableData' + currentActiveTab).DataTable();
        if (table.rows('.selected').any()) {
            editState = "edit";
            setButtonState(true, currentActiveTab);
            var dataArray = table.rows('.selected').data()[0];
            $.each(dataArray, (
                function (i, v) {
                    if (typeof $("#" + i).val(v) != "undefined") {
                        $("#" + i + currentActiveTab).val(v);
                    };
                })
            );
            selectedAutoId = dataArray.autoId;

        } else {
            alert("Моля изберете цена!")
        }
    }

    function saveObject() {
        var currentActiveTab = getActiveTab();
        if (!$("#editStatusesForm"+currentActiveTab).valid()) {
            return false;
        };

        var dataJSON = {};
        $("#editStatusesForm" + currentActiveTab).find('input, select, textarea').each(function () {
            if (typeof $(this).attr('name') != "undefined") {
                dataJSON[$(this).attr('name')] = $(this).val();
            }
        });
        dataJSON.selectedAutoId = selectedAutoId;
        dataJSON.userName = "@loggedUser";
        dataJSON.currentActiveTab = currentActiveTab;

        var dataJSON = JSON.stringify({ dataJSON });
        var urltocall = "";
        if (editState == "insert") {
            urltocall = "/Admin/" + (currentActiveTab == "CityPrice" ? "createPrice" : "createInterCityPrice" )
        }
        if (editState == "edit") {
            urltocall = "/Admin/" + (currentActiveTab == "CityPrice" ? "editPrice" : "editInterCityPrice")
        }
        if (editState == "delete") {
            urltocall = "/Admin/" + (currentActiveTab == "CityPrice" ? "deletePrice" : "deleteInterCityPrice")
        }
        $.ajax({
            type: "POST",
            url: urltocall,
            data: dataJSON,
            contentType: "application/json; charset=utf-8",
            headers: {
                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
            },
            dataType: "json",
            cache: "false",
            async: false,
            success: function (msg) {
                var returnMsg = JSON.parse(msg);
                if (returnMsg.resultState) {
                    //return callReadData((currentActiveTab == "CityPrice" ? "readCityPrices" : "readInterCityPrices"), currentActiveTab);
                    $("#tableData" + (currentActiveTab == "CityPrice" ? "CityPrice" : "InterCityPrice")).DataTable().ajax.reload();
                    setButtonState(false, getActiveTab());
                } else {
                    alert("Грешка при операцията : " + returnMsg.resultMessage )
                }
            },
            complete: function (msg) {
                //window.location.href = "Prices";
                $("#table" + (currentActiveTab == "CityPrice" ? "readCityPrices" : "readInterCityPrices")).DataTable().ajax.reload();
                $("#tableData" + (currentActiveTab == "CityPrice" ? "CityPrice" : "InterCityPrice")).DataTable().ajax.reload();
                //$('.nav-tabs a[href="#' + currentActiveTab + '"]').tab('show');
            },
            error: function (msg) {
                alert("error : " + JSON.parse(msg).resultMessage);
                return false;
            }
        });

        $("#tableData" + (currentActiveTab == "DataCityPrice" ? "CityPrice" : "InterCityPrice")).DataTable().ajax.reload();
        $("#tableDataCityPrice").DataTable().ajax.reload();
        $("#tableDataInterCityPrice").DataTable().ajax.reload();
        return true;
    }

    function callReadData(actionCall, tableName) {
        setButtonState(false, getActiveTab());

        if (actionCall == "readCityPrices") {
            var tableCity = $("#tableDataCityPrice").DataTable();
            tableCity.clear().destroy();
            var tableCity = $("#tableDataCityPrice").DataTable({
                destroy: true,
                serverSide: false,
                processing: true,
                paging: true,
                searching: { "regex": true },
                start: 0,
                length: 10,
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                pageLength: 10,
                ajax: {
                    type: "POST",
                    url: "/Admin/readCityPrices",// + actionCall,
                    data: function (v) {
                        v.userName = "@loggedUser";
                        return JSON.stringify(v);
                    },
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                    },
                    dataType: "json",
                    cache: "false",
                    async: false
                },
                columns: [
                    { data: "autoId" },
                    { data: "description" },
                    { data: "deliveryTimeMinute" },
                    { data: "priceNoVat" },
                    { data: "priceVat" }
                ]
            });

        }

        if (actionCall == "readInterCityPrices") {
            var tableInterCity = $("#tableDataInterCityPrice").DataTable();
            tableInterCity.clear().destroy();

            var tableInterCity = $("#tableDataInterCityPrice").DataTable({
                destroy: true,
                serverSide: false,
                processing: true,
                paging: true,
                searching: { "regex": true },
                start: 0,
                length: 10,
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                pageLength: 10,
                ajax: {
                    type: "POST",
                    url: "/Admin/readInterCityPrices",// + actionCall,
                    data: function (v) {
                        v.userName = "@loggedUser";
                        return JSON.stringify(v);
                    },
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                    },
                    dataType: "json",
                    cache: "false",
                    async: false
                },
                columns: [
                    { data: "autoId" },
                    { data: "description" },
                    { data: "weightLimit" },
                    { data: "expressPriceNoVat" },
                    { data: "expressPriceVat" },
                    { data: "economicalPriceNoVat" },
                    { data: "economicalPriceVat" }
                ]
            });
            
        }

        setClickAndFooterFn('tableData' + tableName);            

    }

    function setClickAndFooterFn(vTable) {
        $('#' + vTable + ' tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                $('#' + vTable + ' tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        var table = $('#' + vTable).DataTable();
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that.search(this.value).draw();
                }
            });
        });

    }

</script>
<h2>Цени</h2>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#CityPrice">Градски цени</a></li>
    <li><a data-toggle="tab" href="#InterCityPrice">Междуградски цени</a></li>
</ul>

<div class="tab-content">
    <!-- Start city prices -->
    <div id="CityPrice" class="tab-pane fade in active">
        <h3>Градски цени</h3>

        <div id="editStatusesCityPrice">
            <form id="editStatusesFormCityPrice" method="post" action="javascript:void(0);">
                <fieldset>
                    <div id="statusMainDataCityPrice">
                        <table border="0" frame="void" rules="rows" width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="center" valign="top">
                                                <div class="editor-label">
                                                    @Html.LabelFor(u => u.descriptionCityPrice)
                                                </div>
                                                <div class="editor-field">
                                                    @Html.TextBoxFor(u => u.descriptionCityPrice, new { required = "required", style = "width:100%; padding: 10px; margin: 0px;" })
                                                    @Html.ValidationMessageFor(u => u.descriptionCityPrice)
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="center" valign="top">
                                                <div class="editor-label">
                                                    @Html.LabelFor(u => u.deliveryTimeMinuteCityPrice)
                                                </div>
                                                <div class="editor-field">
                                                    @Html.TextBoxFor(u => u.deliveryTimeMinuteCityPrice, new { style = "width:100%; padding: 10px; margin: 0px;", @onkeypress = "return setInputFilter(event, this, /^\\d*$/);" })
                                                    @Html.ValidationMessageFor(u => u.deliveryTimeMinuteCityPrice)
                                                </div>
                                            </td>
                                            <td align="center" valign="top">
                                                <div class="editor-label">
                                                    @Html.LabelFor(u => u.priceNoVatCityPrice)
                                                </div>
                                                <div class="editor-field">
                                                    @Html.TextBoxFor(u => u.priceNoVatCityPrice, new { required = "required", style = "width:100%; padding: 10px; margin: 0px;", @onkeypress = "return setInputFilter(event, this, /^-?\\d*[.,]?\\d{0,2}$/);", @oninput = "calculateVat(this, 'priceVatCityPrice')" })
                                                    @Html.ValidationMessageFor(u => u.priceNoVatCityPrice)
                                                </div>
                                            </td>
                                            <td align="center" valign="top">
                                                <div class="editor-label">
                                                    @Html.LabelFor(u => u.priceVatCityPrice)
                                                </div>
                                                <div class="editor-field">
                                                    @Html.TextBoxFor(u => u.priceVatCityPrice, new { required = "required", style = "width:100%; padding: 10px; margin: 0px;", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(u => u.priceVatCityPrice)
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div>
                        @Html.ValidationMessage("CHECK_USERS")
                    </div>

                    <input type="submit" class="btn btn-primary" value="Запази" onClick="return saveObject()" />
                    <input type="reset" class="btn btn-primary" value="Отказ" onClick="cancelObject()" />
                </fieldset>
            </form>
        </div>

        <div id="<dataBodyCityPrice">
            <table id="tableDataCityPrice" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Описание</th>
                        <th>Време в минути</th>
                        <th>Цена без ДДС</th>
                        <th>Цена със ДДС</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>№</th>
                        <th>Описание</th>
                        <th>Време в минути</th>
                        <th>Цена без ДДС</th>
                        <th>Цена със ДДС</th>
                    </tr>
                </tfoot>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!-- End city prices -- >
    <!-- ################################################################################################### -->
    <!-- Start intercity prices -->
    <div id="InterCityPrice" class="tab-pane fade">
        <h3>Междуградски цени</h3>

        <div id="editStatusesInterCityPrice">
            <form id="editStatusesFormInterCityPrice" method="post" action="javascript:void(0);">
                <fieldset>
                    <div id="statusMainDataInterCityPrice">
                        <table border="0" frame="void" rules="rows" width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="center" valign="top">
                                                <div class="editor-label">
                                                    @Html.LabelFor(u => u.descriptionInterCityPrice)
                                                </div>
                                                <div class="editor-field">
                                                    @Html.TextBoxFor(u => u.descriptionInterCityPrice, new { required = "required", style = "width:100%; padding: 10px; margin: 0px;" })
                                                    @Html.ValidationMessageFor(u => u.descriptionInterCityPrice)
                                                </div>
                                            </td>
                                            <td align="center" valign="top">
                                                <div class="editor-label">
                                                    @Html.LabelFor(u => u.weightLimitInterCityPrice)
                                                </div>
                                                <div class="editor-field">
                                                    @Html.DropDownListFor(u => u.weightLimitInterCityPrice, new SelectList(Model.weightLimitInterCityPrice, "Value", "Text"), "Изберете лимит на тегло", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(u => u.weightLimitInterCityPrice)
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="center" valign="top">
                                                <div class="editor-label">
                                                    @Html.LabelFor(u => u.expressPriceNoVatInterCityPrice)
                                                </div>
                                                <div class="editor-field">
                                                    @Html.TextBoxFor(u => u.expressPriceNoVatInterCityPrice, new { required = "required", style = "width:100%; padding: 10px; margin: 0px;", @onkeypress = "return setInputFilter(event, this, /^-?\\d*[.,]?\\d{0,2}$/);", @oninput = "calculateVat(this, 'expressPriceVatInterCityPrice')" })
                                                    @Html.ValidationMessageFor(u => u.expressPriceNoVatInterCityPrice)
                                                </div>
                                            </td>
                                            <td align="center" valign="top">
                                                <div class="editor-label">
                                                    @Html.LabelFor(u => u.expressPriceVatInterCityPrice)
                                                </div>
                                                <div class="editor-field">
                                                    @Html.TextBoxFor(u => u.expressPriceVatInterCityPrice, new { required = "required", style = "width:100%; padding: 10px; margin: 0px;", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(u => u.expressPriceVatInterCityPrice)
                                                </div>
                                            </td>
                                            <td align="center" valign="top">
                                                <div class="editor-label">
                                                    @Html.LabelFor(u => u.economicalPriceNoVatInterCityPrice)
                                                </div>
                                                <div class="editor-field">
                                                    @Html.TextBoxFor(u => u.economicalPriceNoVatInterCityPrice, new { required = "required", style = "width:100%; padding: 10px; margin: 0px;", @onkeypress = "return setInputFilter(event, this, /^-?\\d*[.,]?\\d{0,2}$/);", @oninput = "calculateVat(this, 'economicalPriceVatInterCityPrice')" })
                                                    @Html.ValidationMessageFor(u => u.economicalPriceNoVatInterCityPrice)
                                                </div>
                                            </td>
                                            <td align="center" valign="top">
                                                <div class="editor-label">
                                                    @Html.LabelFor(u => u.economicalPriceVatInterCityPrice)
                                                </div>
                                                <div class="editor-field">
                                                    @Html.TextBoxFor(u => u.economicalPriceVatInterCityPrice, new { required = "required", style = "width:100%; padding: 10px; margin: 0px;", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(u => u.economicalPriceVatInterCityPrice)
                                                </div>
                                            </td>

                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div>
                        @Html.ValidationMessage("CHECK_USERS")
                    </div>

                    <input type="submit" class="btn btn-primary" value="Запази" onClick="return saveObject()" />
                    <input type="reset" class="btn btn-primary" value="Отказ" onClick="cancelObject()" />
                </fieldset>
            </form>
        </div>

        <div id="dataBodyInterCityprice">
            <table id="tableDataInterCityPrice" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Описание</th>
                        <th>Тегло</th>
                        <th>Екпресна цена без ДДС</th>
                        <th>Екпресна цена със ДДС</th>
                        <th>Икономична цена без ДДС</th>
                        <th>Икономична цена със ДДС</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>№</th>
                        <th>Описание</th>
                        <th>Тегло</th>
                        <th>Екпресна цена без ДДС</th>
                        <th>Екпресна цена със ДДС</th>
                        <th>Икономична цена без ДДС</th>
                        <th>Икономична цена със ДДС</th>
                    </tr>
                </tfoot>
                <tbody></tbody>
            </table>
        </div>

    </div>
    <!-- End intercity prices -->
</div>


<div id="priceEditButtonDiv">
    <button id="btnNew" class="btn btn-primary" onclick="newObject()">Нова цена</button>
    <button id="btnDelete" class="btn btn-primary" onclick="deleteObject()">Изтрий избрана цена</button>
    <button id="btnEdit" class="btn btn-primary" onclick="editObject()">Редактирай цена</button>
</div>