﻿@model startProject1.Models.StatusesController
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    System.Security.Claims.ClaimsIdentity user = (System.Security.Claims.ClaimsIdentity)(User.Identity);
    string loggedUser;
    if (user != null)
    {
        loggedUser = System.Net.WebUtility.UrlEncode(user.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Name).Select(c => c.Value).SingleOrDefault());
        loggedUser = loggedUser.Replace("+", " ");
    }
    else
    {
        loggedUser = "";
    }
}
@{
    ViewData["Title"] = "Статуси";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    
    <script src="~/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/dataTables.min.css" asp-append-version="true" runat="server" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">

    <script src="~/js/jquery.dataTables.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/jquery-ui.min.js" asp-append-version="true" runat="server"></script>
</environment>
<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
    }

    .vertical-align-center {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-content {
        width: inherit;
        height: inherit;
        margin: 0 auto;
    }

    .field-validation-error {
        color: #e80c4d;
        font-weight: bold;
    }

    .field-validation-valid {
        display: none;
    }

    input.input-validation-error {
        border: 1px solid #e80c4d;
    }

    input[type="checkbox"].input-validation-error {
        border: 0 none;
    }

    .validation-summary-errors {
        color: #e80c4d;
        font-weight: bold;
        font-size: 1.1em;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
<script>
    var editState = "";
    var selectedAutoId = 0;
    $(document).ready(function () {
        (function ($) {
            $.fn.updateValidation = function () {
                var $this = $(this);
                var form = $this.closest("form").removeData("validator").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse(form);
                return $this;
            };
        })(jQuery);

        $("#editStatusesForm").attr("data-val-range-min", this.checked ? "1" : "2").updateValidation();

        callReadData("readStatuses");
    });

    function setButtonState(value, vEditState) {
        if (value) {
            $("#editStatuses").show();
            $("#dataBody").addClass("disabledbutton");
            $("#priceEditButtonDiv").addClass("disabledbutton");
        } else {
            $("#editStatuses").hide();
            $("#dataBody").removeClass("disabledbutton");
            $("#priceEditButtonDiv").removeClass("disabledbutton");
        }
    }

    function showWarning(objectToCheck) {
        if (objectToCheck.checked) {
            $("#warningDiv").show();
        } else {
            $("#warningDiv").hide();
        }
    }

    function newObject() {
        editState = "insert";
        setButtonState(true);
    }

    function editObject() {
        var table = $('#tableData').DataTable();
        if (table.rows('.selected').any()) {
            editState = "edit";
            setButtonState(true);
            var dataArray = table.rows('.selected').data()[0];
            $.each(dataArray, (
                function (i, v) {
                    if (typeof $("#" + i).val(v) != "undefined") {
                        $("#" + i).val(v);
                    };
                })
            );
            $("#statusOrderFinished").prop("checked", dataArray.statusOrderFinished);
            showWarning(document.getElementById("statusOrderFinished"));
            selectedAutoId = dataArray.autoId;

        } else {
            alert("Моля изберете статус.");
        }
    }

    function deleteObject() {
        var table = $('#tableData').DataTable();
        if (table.rows('.selected').any()) {
            if (confirm("Искате ли да изтриете статус?")) {
                editState = "delete";
                var dataArray = table.rows('.selected').data()[0];
                selectedAutoId = dataArray.autoId;
                saveObject();
            }
        } else {
            alert("Моля изберете статус.")
        }
    }

    function saveObject() {
        if (!$("#editStatusesForm").valid()) {
            return false;
        };

        var dataJSON = {};
        $('#editStatusesForm').find('input, select, textarea').each(function () {
            if (typeof $(this).attr('name') != "undefined") {
                dataJSON[$(this).attr('name')] = $(this).val();
            }
        });
        dataJSON.statusOrderFinished = $("#statusOrderFinished").is(':checked');

        dataJSON.selectedAutoId = selectedAutoId;
        dataJSON.userName = "@loggedUser";

        var dataJSON = JSON.stringify({ dataJSON });
        var urltocall = "";
        if (editState == "insert") {
            urltocall = "/Admin/createStatus"
        }
        if (editState == "edit") {
            urltocall = "/Admin/editStatus"
        }
        if (editState == "delete") {
            urltocall = "/Admin/deleteStatus"
        }
        $.ajax({
            type: "POST",
            url: urltocall,
            data: dataJSON,
            contentType: "application/json; charset=utf-8",
            headers: {
                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
            },
            dataType: "json",
            cache: "false",
            async: false,
            success: function (msg) {
                var returnMsg = JSON.parse(msg);
                if (returnMsg.resultState) {
                    return callReadData("readStatuses");
                } else {
                    alert("Грешка при операцията : " + returnMsg.resultMessage)
                }

            },
            complete: function (msg) {
                window.location.href = "Statuses";
                //setTimeout()
            },
            error: function (msg) {
                alert("error : " + JSON.parse(msg).resultMessage);
                return false;
            }
        });

        return true;
    }


    function cancelObject() {
        editState = "";
        setButtonState(false);
    }

    function callReadData(actionCall) {
        setButtonState(false);
        var table = $("#tableData").DataTable({
            destroy: true,
            serverSide: false,
            processing: true,
            paging: true,
            searching: { "regex": true },
            start: 0,
            length: 10,
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            pageLength: 10,
            ajax: {
                type: "POST",
                url: "/Admin/" + actionCall,
                data: function (v) {
                    v.userName = "@loggedUser";
                    return JSON.stringify(v);
                },
                contentType: "application/json; charset=utf-8",
                headers: {
                    "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                },
                dataType: "json",
                cache: "false",
                async: false
            },
            columns: [
                { data: "autoId" },
                {
                    data: "statusOrderFinished",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<input type="checkbox" class="checkbox" ' + ((data == true) ? "checked" : "") + ' disabled />';
                    },
                    readonly : true
                },
                { data: "statusType" },
                { data: "statusDescription" },
                { data: "statusCreationDT" },
                { data: "loginName" }
            ]
        });

        $('#tableData tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="' + title + '" />');
        });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('#tableData tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

    }

</script>

<h2>Статуси</h2>

<div id="editStatuses">
    <form id="editStatusesForm" method="post">
        <fieldset>
            <div class="alert alert-warning" role="alert" id="warningDiv" style="display:none;">
                ВНИМАНИЕ: При избрана опция "Поръчката е завършена" поръчката се маркира като завършена и не могат повече статуси да се въвеждат в нея!
            </div>
            <div id="statusMainData">
                <table border="0" frame="void" rules="rows" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="center" valign="bottom">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.statusOrderFinished)
                                            @Html.CheckBoxFor(u => u.statusOrderFinished, new { @onclick = "showWarning(this);" })
                                        </div>
                                    </td>
                                    <td align="center" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.statusType)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.statusType, new { required = "required", style = "width:100%; padding: 10px; margin: 0px;" })
                                            @Html.ValidationMessageFor(u => u.statusType)
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="center" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.statusDescription)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.statusDescription, new { required = "required", style = "width:100%; padding: 10px; margin: 0px;" })
                                            @Html.ValidationMessageFor(u => u.statusDescription)
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>
            <div>
                @Html.ValidationMessage("CHECK_USERS")
            </div>

            <input type="submit" class="btn btn-primary" value="Запази" onClick="return saveObject()" />
            <input type="reset" class="btn btn-primary" value="Отказ" onClick="cancelObject()" />
        </fieldset>
    </form>
</div>


<div id="dataBody">
    <p>Потребители</p>
    <table id="tableData" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Завършена</th>
                <th>Тип статус</th>
                <th>Описание</th>
                <th>Дата</th>
                <th>Създаден от</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>№</th>
                <th>Завършена</th>
                <th>Тип статус</th>
                <th>Описание</th>
                <th>Дата</th>
                <th>Създаден от</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>
<div id="priceEditButtonDiv">
    <button id="btnNew" class="btn btn-primary" onclick="newObject()">Нов статус</button>
    <button id="btnDelete" class="btn btn-primary" onclick="deleteObject()">Изтрий статус</button>
    <button id="btnEdit" class="btn btn-primary" onclick="editObject()">Редактирай статус</button>
</div>