﻿@model startProject1.Models.StationsViewModel
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    System.Security.Claims.ClaimsIdentity user = (System.Security.Claims.ClaimsIdentity)(User.Identity);
    string loggedUser;
    string hereApiKey = ViewData["hereApiKey"].ToString();
    if (user != null)
    {
        loggedUser = System.Net.WebUtility.UrlEncode(user.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Name).Select(c => c.Value).SingleOrDefault());
        loggedUser = loggedUser.Replace("+", " ");
    }
    else
    {
        loggedUser = "";
    }
}

@{
    ViewData["Title"] = "Станции";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css" />
    <script src="~/js/jquery.dataTables.js" asp-append-version="true"></script>

    <!-- Geocoding examples -->
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <!-- Geocoding examples -->

</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/dataTables.min.css" asp-append-version="true" runat="server" />

    <script src="~/js/jquery.dataTables.min.js" asp-append-version="true" runat="server"></script>
    <!-- Geocoding examples -->
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <!-- Geocoding examples -->

</environment>
<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
    }

    .vertical-align-center {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-content {
        width: inherit;
        height: inherit;
        margin: 0 auto;
    }

    .field-validation-error {
        color: #e80c4d;
        font-weight: bold;
    }

    .field-validation-valid {
        display: none;
    }

    input.input-validation-error {
        border: 1px solid #e80c4d;
    }

    input[type="checkbox"].input-validation-error {
        border: 0 none;
    }

    .validation-summary-errors {
        color: #e80c4d;
        font-weight: bold;
        font-size: 1.1em;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
<script>
    var editState = "";
    var geoLocationDefaults = {
        "latitude": "42.7339",
        "longitude": "25.4858",
        "displayName": "Не може да се намери обект от карта на HERE."
    };

    $(document).ready(function () {
        (function ($) {

            $.fn.updateValidation = function () {
                var $this = $(this);
                var form = $this.closest("form").removeData("validator").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse(form);
                return $this;
            };
        })(jQuery);

        $("#editStationForm").attr("data-val-range-min", this.checked ? "1" : "2").updateValidation();

        callReadStations();
    });

    /*Start geocodes test*/
    function geocodeFindAddress(platform) {
        var geocoder = platform.getGeocodingService(),
            geocodingParameters = {
                street: $("#stationAddress").val(),
                city: $("#stationCity").val(),
                country: $("#stationCountry").val(),
                jsonattributes: 1
            };

        geocoder.geocode(
            geocodingParameters,
            onGeocodeSuccess,
            onGeocodeError
        );
    }

    function onGeocodeSuccess(result) {
        if (result.response.view.length > 0) {
            var locations = result.response.view[0].result;
            geoLocationDefaults.latitude = locations[0].location.displayPosition.latitude;
            geoLocationDefaults.longitude = locations[0].location.displayPosition.longitude;
            geoLocationDefaults.displayName = locations[0].location.address.label;
        }
        var vHTML = 'latitude : ' + geoLocationDefaults.latitude + ' | ';
        vHTML += 'longitude : ' + geoLocationDefaults.longitude + ' | ';
        vHTML += 'display_name : ' + geoLocationDefaults.displayName + ' | ';
        $("#geoLocationId").html(vHTML);
    }

    function onGeocodeError(error) {
        //alert("HERE: Грешка  - " + error);
    }

    var platform = new H.service.Platform({
        apikey: "@hereApiKey"
    });

    /*End geocodes test*/

    function fillTable(table, dataToLoad) {
        for (var i = 0; i < dataToLoad.length; i++) {
            var rowToAdd = [];
            rowToAdd.push(dataToLoad[i].stationAutoId);
            rowToAdd.push(dataToLoad[i].stationName);
            rowToAdd.push(dataToLoad[i].stationCountry);
            rowToAdd.push(dataToLoad[i].stationCity);
            rowToAdd.push(dataToLoad[i].stationAddress);
            rowToAdd.push(dataToLoad[i].stationPhone);
            table.row.add(rowToAdd).draw();
        }
    }

    function newObject() {
        setButtonState(true);
        editState = "insert";
    }

    function editObject() {
        var table = $('#tableData').DataTable();
        if (table.rows('.selected').any()) {
            setButtonState(true);
            editState = "edit";
            var dataMapping = ["stationAutoId", "stationName", "stationCountry", "stationCity", "stationAddress", "stationPhone"]
            var dataArray = table.rows('.selected').data()[0];
            for (var i = 0; i < dataMapping.length; i++) {
                $("#" + dataMapping[i]).val(dataArray[dataMapping[i]]);
            }
        } else {
            alert("Моля изберете станция.")
        }
    }

    function deleteObject() {
        var table = $('#tableData').DataTable();
        if (table.rows('.selected').any()) {
            if (confirm("Искате ли да изтриете станция?")) {
                editState = "delete";
                saveNewObject();
            }
        } else {
            alert("Моля изберете станция.")
        }
    }

    function cancelNewObject() {
        setButtonState(false);
    }

    function saveNewObject() {
        var table = $('#tableData').DataTable();
        if (!$("#editStationForm").valid()) {
            return false;
        };
        geocodeFindAddress(platform);
        var dataJSON = {};
        $('#editStationForm').find('input, select, textarea').each(function () {
            if (typeof $(this).attr('name') != "undefined") {
                dataJSON[$(this).attr('name')] = $(this).val();
            }
        });
        if (editState == "edit" || editState == "delete") {
            dataJSON.stationAutoId = table.rows('.selected').data()[0].stationAutoId;
        };

        dataJSON.stationLongitude = geoLocationDefaults.longitude;
        dataJSON.stationLatitude = geoLocationDefaults.latitude;


        var dataJSON = JSON.stringify({ dataJSON });
        var urltocall = "";
        if (editState == "insert") {
            urltocall = "/Admin/saveStations"
        }
        if (editState == "edit") {
            urltocall = "/Admin/editStations"
        }
        if (editState == "delete") {
            urltocall = "/Admin/deleteStations"
        }
        $.ajax({
            type: "POST",
            url: urltocall,
            data: dataJSON,
            contentType: "application/json; charset=utf-8",
            headers: {
                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
            },
            dataType: "json",
            cache: "false",
            async: false,
            success: function (msg) {
                callReadStations(table);
                return true;
            },
            complete: function (msg, status) {
                if (status == "success") {
                    location.href = 'Stations';
                    window.history.replaceState({}, document.title, "/Admin/Stations");
                }
            },
            error: function (msg) {
                alert("error : " + JSON.stringify(msg));
                return false;
            }
        });

    }

    function setButtonState(value) {
        if (value) {
            $("#editStation").show()
            $("#dataBody").addClass("disabledbutton");
            $("#editButtonDiv").addClass("disabledbutton");
            geoLocationDefaults = {
                "latitude": "42.7339",
                "longitude": "25.4858",
                "displayName": "Не може да се намери обект от карта на HERE."
            };

        } else {
            $("#editStation").hide()
            $("#dataBody").removeClass("disabledbutton");
            $("#editButtonDiv").removeClass("disabledbutton");
        }
    }

    function callReadStations() {
        setButtonState(false);
        var dataJSON = JSON.stringify({ "userName": "@loggedUser" });
        var table = $("#tableData").DataTable({
            serverSide: false,
            destroy: true,
            processing: true,
            paging: true,
            searching: { "regex": true },
            start: 0,
            length: 10,
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            pageLength: 10,
            ajax: {
                type: "POST",
                url: "/Admin/readStations",
                data: function (v) {
                    v.userName = "@loggedUser";
                    return JSON.stringify(v);
                },
                contentType: "application/json; charset=utf-8",
                headers: {
                    "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                },
                dataType: "json",
                cache: "false",
                async: false
            },
            columns: [
                { data: "stationAutoId" },
                { data: "stationName" },
                { data: "stationCountry" },
                { data: "stationCity" },
                { data: "stationAddress" },
                { data: "stationPhone" }
            ]
        });

        $('#tableData tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="' + title + '" />');
        });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('#tableData tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

    }


    function callReadStations_static(table) {
        setButtonState(false);
        var dataJSON = JSON.stringify({ "userName": "@loggedUser" });
        $.ajax({
            type: "POST",
            url: "/Admin/readStations",
            data: dataJSON,
            contentType: "application/json; charset=utf-8",
            headers: {
                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
            },
            dataType: "json",
            cache: "false",
            async: false,
            success: function (msg) {
                var dataToLoad = msg;
                table.clear().draw();
                fillTable(table, JSON.parse(dataToLoad.stationListJSON));
            },
            error: function (msg) {
                alert("error : " + JSON.stringify(msg));
            }
        });
    }
</script>

<div id="editStation">
    <form id="editStationForm" method="post">
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(u => u.stationName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.stationName, new { required = "required" })
                @Html.ValidationMessageFor(u => u.stationName)
            </div>
            <div>
                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="left" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.stationCountry)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.stationCountry, new { required = "required" })
                                            @Html.ValidationMessageFor(u => u.stationCountry)
                                        </div>
                                    </td>
                                    <td align="left" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.stationCity)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.stationCity, new { required = "required", onfocusout = "geocodeFindAddress(platform);" })
                                            @Html.ValidationMessageFor(u => u.stationCity)
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="60%" align="left" valign="top">
                            <div class="editor-label">
                                @Html.LabelFor(u => u.stationAddress)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.stationAddress, new { size = 50, required = "required", onfocusout = "geocodeFindAddress(platform);" })
                                @Html.ValidationMessageFor(u => u.stationAddress)
                            </div>
                        </td>
                        <td width="20%" align="left" valign="top">
                            <div class="editor-label">
                                @Html.LabelFor(u => u.stationPhone)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.stationPhone, new { required = "required" })
                                @Html.ValidationMessageFor(u => u.stationPhone)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="1" width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="center" valign="top" width="100%">
                                        <div class="editor-label">
                                            <label for="geoLocationId">Най близка ГЕО локация: </label>
                                            <span id="geoLocationId" name="geoLocationId" type="text" readonly></span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>
            <div>
                @Html.ValidationMessage("CHECK_STATION")
            </div>

            <input type="submit" value="Запази" onClick="return saveNewObject()" />
            <input type="reset" value="Отказ" onClick="cancelNewObject()" />
        </fieldset>
    </form>
</div>

<div id="dataBody">
    <p>Детайли</p>
    <table id="tableData" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Име на станция</th>
                <th>Държава</th>
                <th>Град</th>
                <th>Адрес</th>
                <th>Телефон</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>№</th>
                <th>Име на станция</th>
                <th>Държава</th>
                <th>Град</th>
                <th>Адрес</th>
                <th>Телефон</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>
<div id="editButtonDiv">
    <button id="btnNew" onclick="newObject()">Нова станция</button>
    <button id="btnDelete" onclick="deleteObject()">Изтрий станция</button>
    <button id="btnEdit" onclick="editObject()">Редактирай станция</button>
</div>


