﻿@model startProject1.Models.UsersViewModel
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    System.Security.Claims.ClaimsIdentity user = (System.Security.Claims.ClaimsIdentity)(User.Identity);
    string loggedUser;
    if (user != null)
    {
        loggedUser = System.Net.WebUtility.UrlEncode(user.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Name).Select(c => c.Value).SingleOrDefault());
        loggedUser = loggedUser.Replace("+", " ");
    }
    else
    {
        loggedUser = "";
    }
}
@{
    ViewData["Title"] = "Потребители";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css">

    <script src="~/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/dataTables.min.css" asp-append-version="true" runat="server" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">

    <script src="~/js/jquery.dataTables.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/jquery-ui.min.js" asp-append-version="true" runat="server"></script>
</environment>
<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
    }

    .vertical-align-center {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-content {
        width: inherit;
        height: inherit;
        margin: 0 auto;
    }

    .field-validation-error {
        color: #e80c4d;
        font-weight: bold;
    }

    .field-validation-valid {
        display: none;
    }

    input.input-validation-error {
        border: 1px solid #e80c4d;
    }

    input[type="checkbox"].input-validation-error {
        border: 0 none;
    }

    .validation-summary-errors {
        color: #e80c4d;
        font-weight: bold;
        font-size: 1.1em;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
<script>
    var editState = "";
    $(document).ready(function () {

        (function ($) {

            $.fn.updateValidation = function() {
                var $this = $(this);
                var form = $this.closest("form").removeData("validator").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse(form);
                return $this;
            };
        })(jQuery);

        $("#editUsersForm").attr("data-val-range-min", this.checked ? "1" : "2").updateValidation();

        callReadData("readUser");
    });

    function newObject() {
        editState = "insert";
        setButtonState(true);
    }

    function editObject() {
        var table = $('#tableData').DataTable();
        if (table.rows('.selected').any()) {
            editState = "edit";
            setButtonState(true, editState);
            var dataMapping = ["loginAutoId", "loginName", "userCountry", "userCity", "userAddress", "userNames", "userPhone", "userEmail", "userRight", "stationName"]
            var dataArray = table.rows('.selected').data()[0];
            for (var i = 0; i < dataMapping.length; i++) {
                $("#" + dataMapping[i]).val(dataArray[dataMapping[i]]);
            }
            $("#userRightId option").filter(function () { return $(this).text() == dataArray.userRight; }).prop("selected", true);
            $("#userDefaultStationId option").filter(function () { return $(this).text() == dataArray.stationName; }).prop("selected", true);
        } else {
            alert("Моля изберете потребител.")
        }
    }

    function changePassword() {
        var table = $('#tableData').DataTable();
        if (table.rows('.selected').any()) {
            editState = "changePassword";
            setButtonState(true, editState);
            var dataMapping = ["loginAutoId", "loginName", "userCountry", "userCity", "userAddress", "userNames", "userPhone", "userEmail", "userRight", "stationName"]
            var dataArray = table.rows('.selected').data()[0];
            for (var i = 0; i < dataMapping.length; i++) {
                $("#" + dataMapping[i]).val(dataArray[dataMapping[i]]);
            }
            $("#userRightId option").filter(function () { return $(this).text() == dataArray.userRight; }).prop("selected", true);
            $("#userDefaultStationId option").filter(function () { return $(this).text() == dataArray.stationName; }).prop("selected", true);

        } else {
            alert("Моля изберете потребител.")
        }
    }

    function deleteObject() {
        var table = $('#tableData').DataTable();
        if (table.rows('.selected').any()) {
            if (confirm("Искате ли да изтриете потребител?")) {
                editState = "delete";
                saveObject();
            }
        } else {
            alert("Моля изберете потребител.")
        }
    }

    function cancelNewObject() {
        setButtonState(false);
    }

    function saveObject() {
        var table = $('#tableData').DataTable();
        if (!$("#editUsersForm").valid()) {
            return false;
        };

        var dataJSON = {};
        $('#editUsersForm').find('input, select, textarea').each(function () {
            if (typeof $(this).attr('name') != "undefined") {
                dataJSON[$(this).attr('name')] = $(this).val();
            }
        });

        dataJSON.userRightId = $("#userRightId").val();
        dataJSON.userDefaultStationId = $("#userDefaultStationId").val();
        if (editState == "edit" || editState == "changePassword" || editState == "delete") {
            dataJSON.loginAutoId = table.rows('.selected').data()[0].loginAutoId;
        }

        var dataJSON = JSON.stringify({ dataJSON });
        var urltocall = "";
        if (editState == "insert") {
            urltocall = "/Admin/saveUser"
        }
        if (editState == "edit") {
            urltocall = "/Admin/editUser"
        }
        if (editState == "delete") {
            urltocall = "/Admin/deleteUser"
        }
        if (editState == "changePassword") {
            urltocall = "/Admin/changePasswordUser"
        }
        $.ajax({
            type: "POST",
            url: urltocall,
            data: dataJSON,
            contentType: "application/json; charset=utf-8",
            headers: {
                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
            },
            dataType: "json",
            cache: "false",
            async: false,
            success: function (msg) {
                var vReturnObject = JSON.parse(msg.resultNewObjectJSON);
                if (vReturnObject.resultState == true) {
                    alert(vReturnObject.resultMessage);
                }
                if (vReturnObject.resultState == false) {
                    alert(vReturnObject.resultMessage);
                }
                callReadData("readUser");
                //return true;
            },
            complete: function (msg) {
                //window.location.href = "Users";
                //setTimeout()
            },
            error: function (msg) {
                alert("error : " + JSON.stringify(msg));
                return false;
            }
        });

    }

    function setButtonState(value, vEditState) {
        if (value) {
            $("#editUsers").show()
            $("#dataBody").addClass("disabledbutton");
            $("#loginMainData").removeClass("disabledbutton");
            $("#loginDetails").removeClass("disabledbutton");
            if (vEditState == "edit" ) {
                $("#loginMainData").addClass("disabledbutton");
                $("#loginPassword").val("!#¤%¤$$$");
                $("#ConfirmPassword").val("!#¤%¤$$$");
            }
            if (vEditState == "changePassword") {
                $("#loginDetails").addClass("disabledbutton");
                $("#loginPassword").val("");
                $("#ConfirmPassword").val("");
            }

        } else {
            $("#editUsers").hide()
            $("#dataBody").removeClass("disabledbutton");
        }
    }

    function cancelObject() {
        setButtonState(false);
    }

    function fillTable(table, dataToLoad) {
        for (var i = 0; i < dataToLoad.length; i++) {
            var rowToAdd = [];
            rowToAdd.push(dataToLoad[i].loginAutoId);
            rowToAdd.push(dataToLoad[i].loginName);
            rowToAdd.push(dataToLoad[i].userCountry);
            rowToAdd.push(dataToLoad[i].userCity);
            rowToAdd.push(dataToLoad[i].userAddress);
            rowToAdd.push(dataToLoad[i].userNames);
            rowToAdd.push(dataToLoad[i].userPhone);
            rowToAdd.push(dataToLoad[i].userEmail);
            rowToAdd.push(dataToLoad[i].userRight);
            table.row.add(rowToAdd).draw();
        }
    }

    function callReadData(actionCall) {
        setButtonState(false);
        var table = $("#tableData").DataTable({
            serverSide: false,
            destroy: true,
            processing: true,
            paging: true,
            searching: { "regex": true },
            start: 0,
            length: 10,
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            pageLength: 10,
            ajax: {
                type: "POST",
                url: "/Admin/" + actionCall,
                data: function (v) {
                    v.userName = "@loggedUser";
                    return JSON.stringify(v);
                },
                contentType: "application/json; charset=utf-8",
                headers: {
                    "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                },
                dataType: "json",
                cache: "false",
                async: false
            },
            columns: [
                { data: "loginAutoId" },
                { data: "loginName" },
                { data: "userCountry" },
                { data: "userCity" },
                { data: "userAddress" },
                { data: "userNames" },
                { data: "userPhone" },
                { data: "userEmail" },
                { data: "userRight" },
                { data: "stationName" }
            ]
        });

        $('#tableData tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="' + title + '" />');
        });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('#tableData tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

    }

    function callReadData_static(table, actionCall) {
        setButtonState(false);
        var dataJSON = JSON.stringify({ "userName": "@loggedUser" });
        $.ajax({
            type: "POST",
            url: "/Admin/" +actionCall,
            data: dataJSON,
            contentType: "application/json; charset=utf-8",
            headers: {
                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
            },
            dataType: "json",
            cache: "false",
            async: false,
            success: function (msg) {
                var dataToLoad = msg;
                table.clear().draw();
                fillTable(table, JSON.parse(dataToLoad.objectListJSON));
            },
            error: function (msg) {
                alert("error : " + JSON.stringify(msg));
            }
        });
    }
</script>


<h2>Потребители</h2>

<div id="editUsers">
    <form id="editUsersForm" method="post">
        <fieldset>
            <div id="loginMainData">
                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" valign="top">
                            <div class="editor-label">
                                @Html.LabelFor(u => u.loginName)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.loginName, new { required = "required" })
                                @Html.ValidationMessageFor(u => u.loginName)
                            </div>
                        </td>
                        <td align="center" valign="top">
                            <div class="editor-label">
                                @Html.LabelFor(u => u.loginPassword)
                            </div>
                            <div class="editor-field">
                                @Html.PasswordFor(u => u.loginPassword, new { required = "required" })
                                @Html.ValidationMessageFor(u => u.loginPassword)
                            </div>
                        </td>
                        <td align="center" valign="top">
                            <div class="editor-label">
                                @Html.LabelFor(u => u.ConfirmPassword)
                            </div>
                            <div class="editor-field">
                                @Html.PasswordFor(u => u.ConfirmPassword, new { required = "required" })
                                @Html.ValidationMessageFor(u => u.ConfirmPassword)
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="loginDetails">
                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="20%" align="left" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.userCountry)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.userCountry, new { required = "required" })
                                            @Html.ValidationMessageFor(u => u.userCountry)
                                        </div>
                                    </td>
                                    <td width="20%" align="left" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.userCity)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.userCity, new { required = "required" })
                                            @Html.ValidationMessageFor(u => u.userCity)
                                        </div>
                                    </td>
                                    <td width="50%" align="left" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.userAddress)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.userAddress, new { size = 50, required = "required" })
                                            @Html.ValidationMessageFor(u => u.userAddress)
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="50%" align="left" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.userNames)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.userNames, new { size = "51", required = "required" })
                                            @Html.ValidationMessageFor(u => u.userNames)
                                        </div>
                                    </td>
                                    <td width="20%" align="left" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.userPhone)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.userPhone, new { required = "required" })
                                            @Html.ValidationMessageFor(u => u.userPhone)
                                        </div>
                                    </td>
                                    <td width="20%" align="left" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.userEmail)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.userEmail, new { required = "required" })
                                            @Html.ValidationMessageFor(u => u.userEmail)
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" align="left" valign="top">
                            <div class="editor-label">
                                @Html.LabelFor(u => u.userRightSelectList)
                            </div>
                            <div class="editor-field">
                                @Html.DropDownListFor(u => u.userRightId, new SelectList(Model.userRightSelectList, "Value", "Text"), "Изберете парава на потребител", new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.userRightSelectList)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" align="left" valign="top">
                            <div class="editor-label">
                                @Html.LabelFor(u => u.userDefaultStationId)
                            </div>
                            <div class="editor-field">
                                @Html.DropDownListFor(u => u.userDefaultStationId, new SelectList(Model.userDefaultStationId, "Value", "Text"), "Изберете станция по подразбиране", new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.userDefaultStationId)
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
            <div>
                @Html.ValidationMessage("CHECK_USERS")
            </div>

            <input type="submit" class="btn btn-primary" value="Запази" onClick="return saveObject()" />
            <input type="reset" class="btn btn-primary" value="Отказ" onClick="cancelObject()" />
        </fieldset>
    </form>
</div>

<div id="dataBody">
    <p>Потребители</p>
    <table id="tableData" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Потребител</th>
                <th>Държава</th>
                <th>Град</th>
                <th>Адрес</th>
                <th>Име</th>
                <th>Телефон</th>
                <th>имейл</th>
                <th>Права</th>
                <th>Станция</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>№</th>
                <th>Потребител</th>
                <th>Държава</th>
                <th>Град</th>
                <th>Адрес</th>
                <th>Име</th>
                <th>Телефон</th>
                <th>имейл</th>
                <th>Права</th>
                <th>Станция</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>
<div>
    <button id="btnNew" class="btn btn-primary" onclick="newObject()">Нов потребител</button>
    <button id="btnDelete" class="btn btn-primary" onclick="deleteObject()">Изтрий потребител</button>
    <button id="btnEdit" class="btn btn-primary" onclick="editObject()">Редактирай потребител</button>
    <button id="btnChangePassword" class="btn btn-primary" onclick="changePassword()">Смени парола на потребител</button>
</div>