﻿@{
    ViewData["Title"] = "AdminForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    System.Security.Claims.ClaimsIdentity user = (System.Security.Claims.ClaimsIdentity)(User.Identity);
    string loggedUser;
    string userRight = "";
    if (user != null)
    {
        loggedUser = user.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Name).Select(c => c.Value).SingleOrDefault();
        if (loggedUser != null && (user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, user.Name)))
        {
            userRight = UsersViewModel.getUserFieldByName(loggedUser, "[userRightCode]", ViewData["ConnectionString"].ToString());
        }

    }
    else
    {
        loggedUser = "";
    }
}

<h2>Администраторски панел</h2>
<div id="wrapper">
    <div id="main-content" role="content">
        <div class="portlet-dropzone portlet-column-content" id="layout-column_column-1">
            <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_fJIig8GN8RsJ_">
                <span id="p_56_INSTANCE_fJIig8GN8RsJ"></span>
                <div class="portlet-borderless-container">
                    <div class="portlet-body">
                        <div class="journal-content-article">
                            <div class="wide-image-portlet portlet-column" style="background-image: url('/images/vestranscommerce/backgr.png');">

                                <div class="container">
                                    <div class="row tile-row">
                                        <div class="col-md-12">
                                            @{
                                                if (@user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, @user.Name) && ((@userRight == "Administrator") ))
                                                {
                                                    <!-- Start stations-->
                                                    <div class="tile closed location-tile tile-light">
                                                        <header>
                                                            <div class="icon">
                                                                <img src="/images/location-logo.png">
                                                            </div>
                                                            <div class="text">
                                                                Станции
                                                            </div>
                                                        </header>
                                                        <div class="contentNoMobileHide">
                                                            <form asp-controller="Admin" asp-action="Stations">
                                                                <button id="showStations" type="submit" class="btn btn-md btn-primary">Покажи станции<i class="icon-right-open"></i> </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- END stations-->
                                                }
                                            }
                                            @{
                                                if (@user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, @user.Name) && ((@userRight == "Administrator")))
                                                {
                                                    <!-- Start Users-->
                                                    <div class="tile closed location-tile tile-light">
                                                        <header>
                                                            <div class="icon">
                                                                <img src="/images/location-logo.png">
                                                            </div>
                                                            <div class="text">
                                                                Потребители
                                                            </div>
                                                        </header>
                                                        <div class="contentNoMobileHide">
                                                            <form asp-controller="Admin" asp-action="Users">
                                                                <button id="showUsers" type="submit" class="btn btn-md btn-primary">Покажи потребители<i class="icon-right-open"></i> </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- END users-->
                                                }
                                            }
                                            <br />
                                            @{
                                                if (@user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, @user.Name) && ((@userRight == "Administrator") || (@userRight == "StationAdministrator")))
                                                {
                                                    <!-- Start contacts-->
                                                    <div class="tile closed location-tile tile-light">
                                                        <header>
                                                            <div class="icon">
                                                                <img src="/images/location-logo.png">
                                                            </div>
                                                            <div class="text">
                                                                Контакти (Адресна книга)
                                                            </div>
                                                        </header>
                                                        <div class="contentNoMobileHide">
                                                            <form asp-controller="Admin" asp-action="ContactsAddress">
                                                                <button id="showContacts" type="submit" class="btn btn-md btn-primary">Покажи контакти<i class="icon-right-open"></i> </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- END contacts-->
                                                }
                                            }
                                            @{
                                                if (@user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, @user.Name) && ((@userRight == "Administrator")))
                                                {
                                                    <!-- Start statuses-->
                                                    <div class="tile closed location-tile tile-light">
                                                        <header>
                                                            <div class="icon">
                                                                <img src="/images/location-logo.png">
                                                            </div>
                                                            <div class="text">
                                                                Статуси
                                                            </div>
                                                        </header>
                                                        <div class="contentNoMobileHide">
                                                            <form asp-controller="Admin" asp-action="Statuses">
                                                                <button id="showStatuses" type="submit" class="btn btn-md btn-primary">Покажи статуси<i class="icon-right-open"></i> </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- END statuses-->
                                                }
                                            }
                                            <br />
                                            @{
                                                if (@user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, @user.Name) && ((@userRight == "Administrator") || (@userRight == "StationAdministrator")))
                                                {
                                                    <!-- Start reports-->
                                                    <div class="tile closed location-tile tile-light">
                                                        <header>
                                                            <div class="icon">
                                                                <img src="/images/location-logo.png">
                                                            </div>
                                                            <div class="text">
                                                                Справки
                                                            </div>
                                                        </header>
                                                        <div class="contentNoMobileHide">
                                                            <form asp-controller="Reports" asp-action="Reports">
                                                                <button id="showReports" type="submit" class="btn btn-md btn-primary">Покажи справки<i class="icon-right-open"></i> </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- END reports-->
                                                }
                                            }
                                            @{
                                                if (@user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, @user.Name) && ((@userRight == "Administrator") || (@userRight == "StationAdministrator")))
                                                {
                                                    <!-- Start reports-->
                                                    <div class="tile closed location-tile tile-light">
                                                        <header>
                                                            <div class="icon">
                                                                <img src="/images/location-logo.png">
                                                            </div>
                                                            <div class="text">
                                                                Импорт от файл
                                                            </div>
                                                        </header>
                                                        <div class="contentNoMobileHide">
                                                            <form asp-controller="Admin" asp-action="FileImport">
                                                                <button id="showFileImport" type="submit" class="btn btn-md btn-primary">Импорт от файл<i class="icon-right-open"></i> </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- END reports-->
                                                }
                                            }
                                            <br />
                                            @{
                                                if ( @user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, @user.Name) && (@userRight == "Administrator") )
                                                {
                                                    <!-- Start reports-->
                                                    <div class="tile closed location-tile tile-light">
                                                        <header>
                                                            <div class="icon">
                                                                <img src="/images/location-logo.png">
                                                            </div>
                                                            <div class="text">
                                                                Цени
                                                            </div>
                                                        </header>
                                                        <div class="contentNoMobileHide">
                                                            <form asp-controller="Admin" asp-action="Prices">
                                                                <button id="showFileImport" type="submit" class="btn btn-md btn-primary">Цени<i class="icon-right-open"></i> </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- END reports-->
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

