﻿@{
    ViewData["Title"] = "Обратна връзка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"]</h2>

<address>
    <h2>@ViewData["Message"]</h2>
    <h2>@ViewData["Message2"]</h2>
</address>

