﻿@model startProject1.Models.SetDetailsController
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    System.Security.Claims.ClaimsIdentity user = (System.Security.Claims.ClaimsIdentity)(User.Identity);
    string loggedUser;
    if (user != null)
    {
        loggedUser = System.Net.WebUtility.UrlEncode(user.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Name).Select(c => c.Value).SingleOrDefault());
    }
    else
    {
        loggedUser = "";
    }
}
@{
    ViewData["Title"] = "Задай детайли";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    
    <script src="~/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/dataTables.min.css" asp-append-version="true" runat="server" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">

    <script src="~/js/jquery.dataTables.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/jquery-ui.min.js" asp-append-version="true" runat="server"></script>
</environment>
<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>
<script>
    var editState = "";
    $(document).ready(function () {
        callReadData("readOrderDetailsAnon");
    });

    function callReadData(actionCall) {
        var table = $("#tableData").DataTable({
            destroy: true,
            serverSide: false,
            processing: true,
            paging: true,
            searching: { "regex": true },
            start: 0,
            length: 10,
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            pageLength: 10,
            ajax: {
                type: "POST",
                url: "/Home/" + actionCall,
                data: function (v) {
                    v.userName = "@loggedUser";
                    v.orderId = '@ViewData["orderId"]'
                    return JSON.stringify(v);
                },
                contentType: "application/json; charset=utf-8",
                headers: {
                    "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                },
                dataType: "json",
                cache: "false",
                async: false
            },
            columns: [
                { data: "rowNumber" },
                { data: "orderId" },
                { data: "stationName" },
                { data: "userNames" },
                { data: "orderDetailDescription" },
                { data: "statusType" },
                { data: "orderDetailCreateDT" }
            ]
        });

        table.columns([1]).visible(false, false);

        $('#tableData tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="' + title + '" />');
        });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('#tableData tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

    }
</script>

<h2>Детайли на поръчка : @ViewData["orderId"]</h2>
<div id="dataBody">
    <table id="tableData" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>№</th>
                <th>№ пор.</th>
                <th>Станция</th>
                <th>Потребител</th>
                <th>Детайли</th>
                <th>Статус</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>№</th>
                <th>№ пор.</th>
                <th>Станция</th>
                <th>Потребител</th>
                <th>Детайли</th>
                <th>Статус</th>
                <th>Дата</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>
