﻿@model startProject1.Models.OrderFormModel
@using Microsoft.AspNetCore.Authorization
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject IAuthorizationService AuthorizationService
@{
    System.Security.Claims.ClaimsIdentity user = (System.Security.Claims.ClaimsIdentity)(User.Identity);
    string loggedUser;
    string userRight = "";
    string userRightFull = "";
    string loggedUserStation = "";
    if (user != null)
    {
        //loggedUser = user.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Name).Select(c => c.Value).SingleOrDefault();
        loggedUser = System.Net.WebUtility.UrlEncode(user.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Name).Select(c => c.Value).SingleOrDefault());

        if (loggedUser != null && (user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, user.Name)))
        {
            loggedUser = loggedUser.Replace("+", " ");
            userRightFull = UsersViewModel.getUserFieldByName(loggedUser, "[userRightCode] + ',' + [stationName]", ViewData["ConnectionString"].ToString());
            userRight = userRightFull.Substring(0, userRightFull.IndexOf(','));
            loggedUserStation = userRightFull.Substring(userRightFull.IndexOf(',') + 1);

        }
    }
    else
    {
        loggedUser = "";
    }
}
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive.dataTables.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css">

    <script src="~/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/js/dataTables.responsive.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/dataTables.min.css" asp-append-version="true" runat="server" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive.dataTables.min.css" runat="server" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">

    <script src="~/js/jquery.dataTables.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/html2pdf2.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/dataTables.responsive.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/jquery-ui.min.js" asp-append-version="true" runat="server"></script>
</environment>
<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    .modal {
        width: 100%;
    }

    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
    }

    .vertical-align-center {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-content {
        width: auto;
        display: table;
        height: inherit;
        margin: 0 auto;
    }

    .tileTable {
        min-width: 300px;
        max-width: 1000px;
        display: inline-block;
        margin: 0 auto 20px auto;
        position: relative;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        background-color: #FFF;
        color: #060100;
    }
</style>

@{ if (@user.IsAuthenticated)
    {
        @section scripts{
            <script type="text/javascript">
                $(document).ready(function () {
                    callReadData("readMainViewOrdersNearestStation");
                    setClickBodyFn();
                    setButtonState(false);
                    callReadDataCollection("readMainViewOrdersNearestStation");

                    $('#assignCourier').on('show.bs.modal', function (event) {
                        var orderId = $(event.relatedTarget).data('orderid');
                        var couriername = $(event.relatedTarget).data('couriername');
                        //$(this).find('.modal-body span').val(orderId);
                        $("#assignCourierOrderId").html(orderId);
                        if (typeof couriername != "undefined" && couriername.trim() != "") {
                            $('#courierId').val($('#courierId option:contains("' + couriername+'")').val())
                        } else {
                            $("#courierId").val(-1);
                            $("#courierId")[0].selectedIndex = 0;
                        }
                    });
                });

                function assignCourier() {
                    var orderId = $("#assignCourierOrderId").html();
                    var courierId = $("#courierId").val();
                    if (typeof courierId == "undefined" || courierId.trim() == "" || courierId.trim() == "-1") {
                        alert("Моля изберете куриер от списъка");
                        $("#courierIdList").focus();
                        return -1;
                    };

                    var dataJSON = JSON.stringify({ "userName": "@loggedUser", "orderId": orderId, "courierId": courierId });

                    $.ajax({
                        type: "POST",
                        url: "/Home/assignCourier",
                        data: dataJSON,
                        contentType: "application/json; charset=utf-8",
                        headers: {
                            "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                        },
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                        },
                        dataType: "json",
                        cache: "false",
                        async: false,
                        success: function (msg) {
                            var dataToLoad = msg;
                            if (dataToLoad.resultState == true) {
                                $('#tableData').DataTable().ajax.reload();
                                $('#tableDataCollection').DataTable().ajax.reload();
                                $('#assignCourier').modal("hide");
                            }
                            return true;
                        },
                        error: function (msg) {
                            alert("error : " + JSON.stringify(msg));
                            return false;
                        }
                    });

                    return true;
                }

                function callReadData(callType) {
                    var table = $("#tableData").DataTable({
                        serverSide: true,
                        processing: true,
                        responsive: true,
                        paging: true,
                        searching: { "regex": true },
                        start: 0,
                        order: [],
                        length: 10,
                        lengthMenu: [[10, 25, 50, 100], [10, 25, 50, 100]],
                        ajax: {
                            type: "POST",
                            url: "/Home/" + callType,
                            data: function (v) {
                                v.contactCity = ($("#ordersFromCity").val() != "" ? $("#ordersFromCity option:selected").text() : "" );
                                v.receiverCity = ($("#ordersToCity").val() != "" ? $("#ordersToCity option:selected").text() : "");
                                var searchV = "";
                                var searchArray = [];
                                var searchArrayGlobal = [];
                                var searchGlobal = "";
                                for (var i = 0; i < v.columns.length; i++) {
                                    if (v.columns[i].search.value.toString().length > 0) {
                                        var searchArrayObject = { "paramName": "", "paramValue": "", "paramCondition": "and" };
                                        searchV += " and " + v.columns[i].data + " like '%" + v.columns[i].search.value.toString() + "%'";
                                        searchArrayObject.paramName = v.columns[i].data;
                                        searchArrayObject.paramValue = v.columns[i].search.value.toString();
                                        searchArray.push(searchArrayObject);
                                    }
                                }

                                if (v.search.value != "") {
                                    searchGlobal = " and (";
                                    for (var i = 0; i < v.columns.length; i++) {
                                        if (searchStrInArr(searchArray, v.columns[i].data) == -1) {
                                            var searchArrayObject = { "paramName": "", "paramValue": "", "paramCondition" : "or" };
                                            searchGlobal += ( i > 0 ? " or " : "" ) + v.columns[i].data + " like '%" + v.search.value.toString() + "%'";
                                            searchArrayObject.paramName = v.columns[i].data;
                                            searchArrayObject.paramValue = v.search.value.toString();
                                            searchArrayGlobal.push(searchArrayObject);
                                        }
                                    }
                                    searchGlobal += " )";
                                }

                                v.userName = "@loggedUser";
                                v.whereClauseSearch = searchV + searchGlobal;
                                v.searchArray = searchArray;
                                v.searchArrayGlobal = searchArrayGlobal;
                                v.searchArrayLength = searchArray.length;
                                v.searchArrayGlobalLength = searchArrayGlobal.length;
                                v.readMainViewCollectableOrders = false;
                                if (v.order.length > 0) {
                                    v.sortBy = " order by " + v.columns[v.order[0].column].data + " " + v.order[0].dir + " ";
                                } else {
                                    v.sortBy = " order by orderDeliveryDateTime desc, orderid desc ";
                                }
                                v.rowLength = v.length;
                                var table2 = $("#tableData").DataTable();
                                v.currentPage = table2.page.info().page;
                                v.pageLengthData = table2.page.len();
                                return JSON.stringify(v);
                            },
                            contentType: "application/json; charset=utf-8",
                            headers: {
                                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                            },
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                                //$("#loadingDiv").modal("show");
                            },
                            complete: function (data) {
                                //$("#loadingDiv").modal("hide");
                            },
                            dataType: "json",
                            cache: "false",
                            async: false
                        },
                        columns: [
                            { data: "orderId" },
                            { data: "stationName" },
                            { data: "contactPhone" },
                            { data: "receiverCity" },
                            { data: "receiverPhone" },
                            { data: "receiverCompanyName" },
                            { data: "receiverAddress" },
                            { data: "orderTypeName" },
                            { data: "chashOnDeliverySum" },
                            { data: "orderDeliveryDateTime" },
                            {
                                data: "courierLoginName",
                                render: function (data, type, full, meta) {
                                    var vReturn = data;
                                    if (typeof data == "undefined" || data == "") {
                                        if ("@userRight" != "Courier") {
                                            vReturn = '<a href="#" style="float:left;" data-toggle="modal" data-couriername="" data-orderid="' + full.orderId + '" title="Присвои нов куриер" data-target="#assignCourier">Присвои куриер</a>'
                                        } else {
                                            vReturn = data;
                                        }
                                    } else {
                                        if ("@userRight" != "Courier") {
                                            vReturn = '<a href="#" style="float:left;" data-toggle="modal" data-couriername="' + data + '" data-orderid="' + full.orderId + '" title="Смени куриер" data-target="#assignCourier">' + data +'</a>'
                                        } else {
                                            vReturn = data;
                                        }
                                    }

                                    return vReturn;
                                }
                            },
                            { data: "orderCreatedDateTime" },
                            { data: "orderDescriptionStationName" },
                            { data: "statusDescription" },
                            {
                                data: "statusOrderFinished",
                                className: "text-bottom",
                                render: function (data, type, full, meta) {
                                    return '<input type="checkbox" class="checkbox" ' + ((data == true) ? "checked" : "") + ' disabled />';
                                },
                                readonly: true
                            }
                        ],
                        rowCallback: function (row, data, index) {
                            if (data.statusOrderFinished == true) {
                                $('td', row).css("background-color", "#3CB371");
                            }

                            if ((data.statusOrderFinished == false) && (data.priorityOrder == 1)) {
                                $('td', row).css("background-color", "#FF0000");
                            }

                        }
                    });
                };

                function searchStrInArr(vArr, vSearchStr) {
                    for (var i = 0; i < vArr.length; i++) {
                        if (vArr[i].match(vSearchStr)) return i;
                    }
                    return -1;
                }

                function callReadDataCollection(callType) {
                    var table = $("#tableDataCollection").DataTable({
                        serverSide: true,
                        processing: true,
                        responsive: true,
                        paging: true,
                        searching: { "regex": true },
                        start: 0,
                        order: [],
                        length: 10,
                        lengthMenu: [[10, 25, 50, 100], [10, 25, 50, 100]],
                        ajax: {
                            type: "POST",
                            url: "/Home/" + callType,
                            data: function (v) {
                                v.contactCity = ($("#ordersFromCity").val() != "" ? $("#ordersFromCity option:selected").text() : "" );
                                v.receiverCity = ($("#ordersToCity").val() != "" ? $("#ordersToCity option:selected").text() : "");
                                var searchV = "";
                                var searchArray = [];
                                var searchArrayGlobal = [];
                                var searchGlobal = "";
                                for (var i = 0; i < v.columns.length; i++) {
                                    if (v.columns[i].search.value.toString().length > 0) {
                                        var searchArrayObject = { "paramName": "", "paramValue": "", "paramCondition": "and" };
                                        searchV += " and " + v.columns[i].data + " like '%" + v.columns[i].search.value.toString() + "%'";
                                        searchArrayObject.paramName = v.columns[i].data;
                                        searchArrayObject.paramValue = v.columns[i].search.value.toString();
                                        searchArray.push(searchArrayObject);
                                    }
                                }

                                if (v.search.value != "") {
                                    searchGlobal = " and (";
                                    for (var i = 0; i < v.columns.length; i++) {
                                        if (searchStrInArr(searchArray, v.columns[i].data) == -1) {
                                            var searchArrayObject = { "paramName": "", "paramValue": "", "paramCondition" : "or" };
                                            searchGlobal += ( i > 0 ? " or " : "" ) + v.columns[i].data + " like '%" + v.search.value.toString() + "%'";
                                            searchArrayObject.paramName = v.columns[i].data;
                                            searchArrayObject.paramValue = v.search.value.toString();
                                            searchArrayGlobal.push(searchArrayObject);
                                        }
                                    }
                                    searchGlobal += " )";
                                }

                                v.userName = "@loggedUser";
                                v.whereClauseSearch = searchV + searchGlobal;
                                v.searchArray = searchArray;
                                v.searchArrayGlobal = searchArrayGlobal;
                                v.searchArrayLength = searchArray.length;
                                v.searchArrayGlobalLength = searchArrayGlobal.length;
                                v.readMainViewCollectableOrders = true;
                                if (v.order.length > 0) {
                                    v.sortBy = " order by " + v.columns[v.order[0].column].data + " " + v.order[0].dir + " ";
                                } else {
                                    v.sortBy = " order by orderDeliveryDateTime desc, orderid desc ";
                                }
                                v.rowLength = v.length;
                                var table2 = $("#tableDataCollection").DataTable();
                                v.currentPage = table2.page.info().page;
                                v.pageLengthData = table2.page.len();
                                return JSON.stringify(v);
                            },
                            contentType: "application/json; charset=utf-8",
                            headers: {
                                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                            },
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                                //$("#loadingDiv").modal("show");
                            },
                            complete: function (data) {
                                //$("#loadingDiv").modal("hide");
                            },
                            dataType: "json",
                            cache: "false",
                            async: false
                        },
                        columns: [
                            { data: "orderId" },
                            { data: "senderNearestStationName" },
                            { data: "statusDescription" },
                            { data: "contactPhone" },
                            { data: "contactCity" },
                            { data: "contactAddress" },
                            { data: "orderDeliveryDateTime" },
                            { data: "orderCreatedDateTime" },
                            {
                                data: "courierLoginName",
                                render: function (data, type, full, meta) {
                                    var vReturn = data;
                                    if (typeof data == "undefined" || data == "") {
                                        if ("@userRight" != "Courier") {
                                            vReturn = '<a href="#" style="float:left;" data-toggle="modal" data-couriername="" data-orderid="' + full.orderId + '" title="Присвои нов куриер" data-target="#assignCourier">Присвои куриер</a>'
                                        } else {
                                            vReturn = data;
                                        }
                                    } else {
                                        if ("@userRight" != "Courier") {
                                            vReturn = '<a href="#" style="float:left;" data-toggle="modal" data-couriername="' + data + '" data-orderid="' + full.orderId + '" title="Смени куриер" data-target="#assignCourier">' + data + '</a>'
                                        } else {
                                            vReturn = data;
                                        }
                                    }

                                    return vReturn;
                                }
                            }
                        ],
                        rowCallback: function (row, data, index) {
                            if (data.statusOrderFinished == true) {
                                $('td', row).css("background-color", "#3CB371");
                            }

                            if ((data.statusOrderFinished == false) && (data.priorityOrder == 1)) {
                                $('td', row).css("background-color", "#FF0000");
                            }

                        }
                    });
                };

                function checkIfOrderIsLocked(orderId) {
                    var vResult = false;
                    var dataJSON = {};
                    dataJSON.userName = "@loggedUser";
                    dataJSON.orderId = orderId;
                    var dataJSON = JSON.stringify({ dataJSON });
                    $.ajax({
                        type: "POST",
                        url: "/Home/checkOrderIsLocked",
                        data: dataJSON,
                        contentType: "application/json; charset=utf-8",
                        headers: {
                            "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                        },
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                        },
                        dataType: "json",
                        cache: "false",
                        async: false,
                        success: function (msg) {
                            vResult = msg.orderIsLocked;
                            if (vResult) {
                                $('#orderIsLocked').modal("show");
                                $('#orderLockedByOrderId').html(orderId);
                                $('#orderLockedBySpan').html("Поръчката е заключена от: " + msg.orderIsLockedBy);
                            }
                        }
                    });

                    return vResult;
                };

                function editObject() {
                    var table = $('#tableData').DataTable();
                    if (table.rows('.selected').any()) {
                        var dataArray = table.rows('.selected').data()[0];
                        if (!checkIfOrderIsLocked(table.rows('.selected').data()[0].orderId)) {
                            window.location = "Home/OrderDetail?orderStatus=edit&orderId=" + table.rows('.selected').data()[0].orderId;
                        }
                    } else {
                        alert("Моля изберете поръчка.");
                    }
                };

                function setClickBodyFn() {
                    $('#tableData tbody').on('click', 'tr', function () {
                        setButtonState(!$(this).hasClass('selected'));
                        if ($(this).hasClass('selected')) {
                            $(this).removeClass('selected');
                        }
                        else {
                            $('#tableData tr.selected').removeClass('selected');
                            $(this).addClass('selected');
                        }
                    });
                };

                function setButtonState(value) {
                    if (value) {
                        $("#btnShowDetails").show();
                        $("#btnEdit").show();
                    } else {
                        $("#btnShowDetails").hide();
                        $("#btnEdit").hide();
                    }
                };

                function showGetDetailsWindow() {
                    var vOrderId = 0;
                    if ($('#tableData').DataTable().rows('.selected').any()) {
                        vOrderId = $('#tableData').DataTable().rows('.selected').data()[0].orderId;
                    } else {
                        alert("Моля изберете поръчка.");
                        return false;
                    };

                    $("#orderDetailsMovmentsModal").modal("show");
                    return callReadDataGetDetails("readOrderDetailsAnon", vOrderId);
                }

                function callReadDataGetDetails(actionCall, vOrderId) {
                    var table = $("#tableDataShowDetails").DataTable({
                        destroy: true,
                        serverSide: false,
                        processing: true,
                        paging: true,
                        searching: false,
                        start: 0,
                        length: 10,
                        lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                        pageLength: 10,
                        ajax: {
                            type: "POST",
                            url: "/Home/" + actionCall,
                            data: function (v) {
                                v.userName = "@loggedUser";
                                v.orderId = vOrderId
                                return JSON.stringify(v);
                            },
                            contentType: "application/json; charset=utf-8",
                            headers: {
                                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                            },
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                            },
                            dataType: "json",
                            cache: "false",
                            async: false
                        },
                        columns: [
                            { data: "rowNumber" },
                            { data: "orderId" },
                            { data: "stationName" },
                            { data: "userNames" },
                            { data: "orderDetailDescription" },
                            { data: "statusType" },
                            { data: "orderDetailCreateDT" }
                        ]
                    });

                    table.columns([1]).visible(false, false);
                }
            </script>
        }
    }
}
<script>
    function setDetails(pageToCall, orderToRead) {
        if ($("#" + orderToRead).val().toString().length > 0) {
            return location.href = "/Home/" + pageToCall + "?orderId=" + $("#" + orderToRead).val();
        } else {
            alert("Моля въведете почъчка номер");
            $("#" + orderToRead).focus();
        }
    };

</script>
<div id="wrapper">
    <div id="main-content" role="content">
        <div class="portlet-dropzone portlet-column-content" id="layout-column_column-1">
            <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_fJIig8GN8RsJ_">
                <span id="p_56_INSTANCE_fJIig8GN8RsJ"></span>
                <div class="portlet-borderless-container">
                    <div class="portlet-body">
                        <div class="journal-content-article">
                            <div class="wide-image-portlet portlet-column" style="background-image: url('/images/vestranscommerce/backgr.png');">
                                <!-- Start order details -->
                                <div class="container">
                                    <div class="row tile-row" style="padding-top: 0px">
                                        <div class="col-md-12">
                                            @{
                                                if (!@user.IsAuthenticated)
                                                {
                                                    <!--Start of search order-->
                                                    <div id="column-3" class="tile-portlet-column portlet-column">
                                                        <div class="portlet-dropzone portlet-column-content" id="layout-column_column-3">
                                                            <div class="portlet-boundary">
                                                                <div class="portlet-borderless-container">
                                                                    <div class="portlet-body">
                                                                        <div class="tile closed location-tile tile-light">
                                                                            <header>
                                                                                <div class="icon">
                                                                                    <img src="/images/location-logo.png">
                                                                                </div>
                                                                                <div class="text">
                                                                                    Проследи пратка с номер
                                                                                </div>
                                                                            </header>
                                                                            <div class="contentNoMobileHide">
                                                                                <input type="text" name="orderIdSearch" id="orderIdSearch" placeholder="Въведи номер на поръчка" autocomplete="off">
                                                                                <div class="centered">
                                                                                    <button id="tile-submit" type="submit" class="btn btn-md btn-primary" onclick="setDetails('GetDetails', 'orderIdSearch')"> Проследи пратка <i class="icon-right-open"></i> </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--End of search order-->
                                                }
                                            }
                                            @{

                                                if (@user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, @user.Name) && ((@userRight == "Administrator") || (@userRight == "Courier") || (@userRight == "StationAdministrator")))
                                                {
                                                    <!--Start of set order details-->
                                                    <div class="tile closed location-tile tile-light">
                                                        <header>
                                                            <div class="text">
                                                                Търси поръчка
                                                            </div>
                                                        </header>
                                                        <div class="contentNoMobileHide">
                                                            <input type="text" name="orderIdForDetails" id="orderIdForDetails" placeholder="Въведи номер на поръчка" autocomplete="off">
                                                            <div class="centered">
                                                                <button id="tile-submit" type="submit" class="btn btn-md btn-primary" onclick="setDetails('SetDetails', 'orderIdForDetails')">Въведи детайли<i class="icon-right-open"></i> </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--End of set order details-->
                                                }

                                            }
                                        </div>
                                        <!-- End order details -->
                                        @{
                                            if (@user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, @user.Name) && ((@userRight == "Administrator") || (@userRight == "Courier") || (@userRight == "StationAdministrator")))
                                            {
                                                <div class="tileTable" style="margin-left:15px; text-align:center">
                                                    <header>
                                                        <div class="text">
                                                            Поръчки които трябва да се доставят от съответната станция: <b style="color:#000000;"> @loggedUserStation</b>
                                                        </div>
                                                    </header>
                                                </div>

                                                <div class="container">
                                                    <div class="row tile-row" style="padding-top: 0px">
                                                        <div class="col-md-11">
                                                            <div class="tileTable">
                                                                <!-- Start table nearest orders -->
                                                                <div id="table">
                                                                    <table id="tableData" class="display responsive nowrap" cellspacing="0" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="all">№</th>
                                                                                <th class="desktop">Създадена</th>
                                                                                <th class="desktop">Под. телефон</th>
                                                                                <th class="all">Пол. град</th>
                                                                                <th class="none">Пол. телефон</th>
                                                                                <th class="none">Пол. име на фирма</th>
                                                                                <th class="none">Пол. адрес</th>
                                                                                <th class="none">Тип поръчка</th>
                                                                                <th class="desktop">Налож. пл. лв.</th>
                                                                                <th class="all">Дата дост.</th>
                                                                                <th class="all">Куриер</th>
                                                                                <th class="none">Дата създ.</th>
                                                                                <th class="none">Последно преминала през станция</th>
                                                                                <th class="none">Последен статус</th>
                                                                                <th class="none">Доставена</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody></tbody>
                                                                    </table>
                                                                </div>
                                                                <div>
                                                                    @{
                                                                        if (@user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, @user.Name) && ((@userRight == "Administrator") || (@userRight == "StationAdministrator") || (@userRight == "Client")))
                                                                        {
                                                                            <button id="btnEdit" class="btn btn-primary" onclick="editObject()">Редактирай поръчка</button>
                                                                            <button id="btnShowDetails" class="btn btn-primary" onclick="showGetDetailsWindow()">Покажи детайли</button>
                                                                        }
                                                                    }
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End table nearest orders -->

                                                <!-- End order details -->
                                                <div class="tileTable" style="margin-left:15px; text-align:center">
                                                    <header>
                                                        <div class="text">
                                                            Поръчки които трябва да се съберат от съответната станция: <b style="color:#000000;"> @loggedUserStation</b>
                                                        </div>
                                                    </header>
                                                </div>

                                                <div class="container">
                                                    <div class="row tile-row" style="padding-top: 0px">
                                                        <div class="col-md-11">
                                                            <div class="tileTable">
                                                                <!-- Start table nearest orders -->
                                                                <div id="table">
                                                                    <table id="tableDataCollection" class="display responsive nowrap" cellspacing="0" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="all">№</th>
                                                                                <th class="none">Най бл. станция на създ.</th>
                                                                                <th class="none">Последен статус</th>
                                                                                <th class="all">Под. телефон</th>
                                                                                <th class="all">Под. град</th>
                                                                                <th class="all">Под. адрес</th>
                                                                                <th class="all">Дата дост.</th>
                                                                                <th class="all">Дата създ.</th>
                                                                                <th class="all">Куриер</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody></tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End table nearest orders -->

                                            }
                                        }


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="entry-links"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="assignCourier" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="orderSaved" aria-hidden="true">
    <form id="orderDetailsNewContact" method="post" action="javascript:void(0);">
        <fieldset>
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div id="contactBody" class="modal-body">
                            <h2>Присвои куриер за поръчка : <span id="assignCourierOrderId"></span></h2>
                        </div>
                        <div class="editor-field" style="width:450px" id="hidableTRStationList">
                            @Html.LabelFor(u => u.courierIdList)
                            @Html.DropDownListFor(u => u.courierIdList, new SelectList(Model.courierIdList, "Value", "Text"), new { @style = "width:450px", @class = "form-control", @id = "courierId", required = "required" })
                        </div>
                        <div class="modal-footer">
                            <button id="btnNew" class="btn btn-primary" onClick="assignCourier()">Запази</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div id="orderDetailsMovmentsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="orderDetailsModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <form id="orderDetailsMovmentsForm" method="post" action="javascript:void(0);">
        <fieldset>
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div id="contactBody" class="modal-body">
                            <table id="tableDataShowDetails" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>№ пор.</th>
                                        <th>Станция</th>
                                        <th>Потребител</th>
                                        <th>Детайли</th>
                                        <th>Статус</th>
                                        <th>Дата</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div id="orderIsLocked" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="orderIsLockedModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderIsLockedModalLabel">Заключена поръчка : <span id="orderLockedByOrderId"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="orderLockedBySpan"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Назад</button>
                @{
                    if (@user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, @user.Name) && ((@userRight == "Administrator")))
                    {
                        <button id="btnUnlockOrder" type="button" class="btn btn-primary" onClick="unlockOrder()">Отключи поръчката</button>
                    }
                }
            </div>
        </div>
    </div>
</div>