﻿@model startProject1.Models.LoginController

@{
    ViewData["Title"] = "Вход";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вход</h2>

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(u => u.userName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.userName)
                @Html.ValidationMessageFor(u => u.userName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.password)
                @Html.ValidationMessageFor(u => u.password)
            </div>
            <div>
                @Html.ValidationMessage("CHECK_LOGIN")
            </div>
            <input type="submit" value="Вход" />
        </fieldset>
    </div>
}
