﻿@model startProject1.Models.OrderFormModel
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    System.Security.Claims.ClaimsIdentity user = (System.Security.Claims.ClaimsIdentity)(User.Identity);
    string loggedUser;
    string userRight = "";
    if (user != null)
    {
        loggedUser = System.Net.WebUtility.UrlEncode(user.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Name).Select(c => c.Value).SingleOrDefault());
        loggedUser = loggedUser.Replace("+", " ");
        if (loggedUser != null && (user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, user.Name)))
        {
            userRight = System.Net.WebUtility.UrlEncode(UsersViewModel.getUserFieldByName(loggedUser, "[userRightCode]", ViewData["ConnectionString"].ToString()));
        }
    }
    else
    {
        loggedUser = "";
    }
}
@{
    ViewData["Title"] = "Поръчки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/css/mtz.date.picker.jquery-ui.css" />

    <script src="~/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/js/jquery.mtz.monthpicker.js" asp-append-version="true"></script>
    <script src="~/js/dataTables.responsive.js" asp-append-version="true"></script>
    <script src="~/js/pdfmake.js" asp-append-version="true"></script>
    <script src="~/js/vfs_fonts.js" asp-append-version="true"></script>
    <script src="~/js/JsBarcode.all.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/dataTables.min.css" asp-append-version="true" runat="server" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive.dataTables.min.css" runat="server" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" runat="server">

    <script src="~/js/jquery.dataTables.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/jquery.mtz.monthpicker.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/dataTables.responsive.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/pdfmake.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/vfs_fonts.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/JsBarcode.all.min.js" asp-append-version="true" runat="server"></script>
</environment>
<style>
        .disabledbutton {
            pointer-events: none;
            opacity: 0.4;
        }

        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }

        .modal {
            width: 100%;
        }

        .vertical-alignment-helper {
            display: table;
            height: 100%;
            width: 100%;
        }

        .vertical-align-center {
            display: table-cell;
            vertical-align: middle;
        }

        .modal-content {
            width: auto;
            display: table;
            height: inherit;
            margin: 0 auto;
        }
</style>
<script>
    var editState = "";
    var vLogoImage;

    $(document).ready(function () {
        var currentYear = (new Date()).getFullYear();
        var currentMonth = ("0" + ((new Date()).getMonth() + 1)).slice(-2);
        options = {
            pattern: 'yyyy-mm', // Default is 'mm/yyyy' and separator char is not mandatory
            selectedYear: currentYear,
            startYear: currentYear,
            finalYear: currentYear + 10,
            monthNames: ['Яну', 'Фев', 'Март', 'Апр', 'Май', 'Юни', 'Юли', 'Авг', 'Сеп', 'Окт', 'Ное', 'Дек']
        };

        $('#orderCreatedDateTime').monthpicker(options);
        $('#orderCreatedDateTime').val(currentYear + "-" + currentMonth);
        (function ($) {
            $.fn.updateValidation = function() {
                var $this = $(this);
                var form = $this.closest("form").removeData("validator").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse(form);
                return $this;
            };
        })(jQuery);

        $("#editUsersForm").attr("data-val-range-min", this.checked ? "1" : "2").updateValidation();
        callReadData("readMainViewOrders");
        setClickBodyFn();
        setButtonState(false);
        toDataUrl("/images/rexCourierLogo.png", function (myBase64) {
            vLogoImage = myBase64;
        });

    });

    function setButtonState(value) {
        if (value) {
            $("#btnPrintPdf").show();
            $("#btnShowDetails").show();
            $("#btnEdit").show();
        } else {
            $("#btnPrintPdf").hide();
            $("#btnShowDetails").hide();
            $("#btnEdit").hide();
        }
    }

    function setClickOnFooterFn() {
        var table = $('#tableData').DataTable();
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that.search(this.value).draw();
                }
            });
        });
    }

    function setClickBodyFn() {
        $('#tableData tbody').on('click', 'tr', function () {
            setButtonState(!$(this).hasClass('selected'));
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                $('#tableData tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    }

    function newObject() {
        return location.href = '<%: Url.Action("Home", "Neworder") %>';
    }

    function unlockOrder() {
        var vOrderId = $('#orderLockedByOrderId').html();
        var vResult = false;
        var dataJSON = {};
        dataJSON.userName = "@loggedUser";
        dataJSON.orderId = vOrderId;
        var dataJSON = JSON.stringify({ dataJSON });
        $.ajax({
            type: "POST",
            url: "/Home/unlockOrder",
            data: dataJSON,
            contentType: "application/json; charset=utf-8",
            headers: {
                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
            },
            dataType: "json",
            cache: "false",
            async: false,
            success: function (msg) {
                vResult = msg.orderIsLocked;
                if (!vResult) {
                    $('#orderLockedBySpan').html("Поръчката е отключена");
                    $("#btnUnlockOrder").hide();
                }
            }
        });

        return vResult;
    }

    function checkIfOrderIsLocked(orderId) {
        var vResult = false;
        var dataJSON = {};
        dataJSON.userName = "@loggedUser";
        dataJSON.orderId = orderId;
        var dataJSON = JSON.stringify({ dataJSON });
        $.ajax({
            type: "POST",
            url: "/Home/checkOrderIsLocked",
            data: dataJSON,
            contentType: "application/json; charset=utf-8",
            headers: {
                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
            },
            dataType: "json",
            cache: "false",
            async: false,
            success: function (msg) {
                vResult = msg.orderIsLocked;
                if (vResult) {
                    $('#orderIsLocked').modal("show");
                    $('#orderLockedByOrderId').html(orderId);
                    $('#orderLockedBySpan').html("Поръчката е заключена от: " + msg.orderIsLockedBy);
                }
            }
        });

        return vResult;
    };

    function editObject() {
        var table = $('#tableData').DataTable();
        if (table.rows('.selected').any()) {
            var dataArray = table.rows('.selected').data()[0];
            if (!checkIfOrderIsLocked(table.rows('.selected').data()[0].orderId)) {
                window.location = "OrderDetail?orderStatus=edit&orderId=" + table.rows('.selected').data()[0].orderId;
            }
        } else {
            alert("Моля изберете поръчка.");
        }
    }

    function resetTableAndSearch(callType) {
        $('#tableData').DataTable().destroy();
        $('#tableData tbody').empty();
        $('#tableData tfoot input').val('');
        callReadData(callType);
    };

    function searchStrInArr(vArr, vSearchStr) {
        for (var i = 0; i < vArr.length; i++) {
            if (vArr[i].paramName == vSearchStr ) return i;
        }
        return -1;
    }

    function callReadData(callType) {
        var table = $("#tableData").DataTable({
            serverSide: true,
            processing: true,
            responsive: true,
            paging: true,
            searching: { "regex": true },
            start: 0,
            order: [],
            length: 10,
            lengthMenu: [[10, 25, 50, 100], [10, 25, 50, 100]],
            ajax: {
                type: "POST",
                url: "/Home/" + callType,
                data: function (v) {
                    v.orderCreationDateSearch = $("#orderCreatedDateTime").val() + "-01";
                    v.contactCity = ($("#ordersFromCity").val() != "" ? $("#ordersFromCity option:selected").text() : "" );
                    v.receiverCity = ($("#ordersToCity").val() != "" ? $("#ordersToCity option:selected").text() : "");
                    var searchV = "";
                    var searchArray = [];
                    var searchArrayGlobal = [];
                    var searchGlobal = "";
                    for (var i = 0; i < v.columns.length; i++) {
                        if (v.columns[i].search.value.toString().length > 0) {
                            var searchArrayObject = { "paramName": "", "paramValue": "", "paramCondition": "and" };
                            searchV += " and " + v.columns[i].data + " like '%" + v.columns[i].search.value.toString() + "%'";
                            searchArrayObject.paramName = v.columns[i].data;
                            searchArrayObject.paramValue = v.columns[i].search.value.toString();
                            searchArray.push(searchArrayObject);
                        }
                    }

                    if (v.search.value != "") {
                        searchGlobal = " and (";
                        for (var i = 0; i < v.columns.length; i++) {
                            if (searchStrInArr(searchArray, v.columns[i].data) == -1) {
                                var searchArrayObject = { "paramName": "", "paramValue": "", "paramCondition" : "or" };
                                searchGlobal += ( i > 0 ? " or " : "" ) + v.columns[i].data + " like '%" + v.search.value.toString() + "%'";
                                searchArrayObject.paramName = v.columns[i].data;
                                searchArrayObject.paramValue = v.search.value.toString();
                                searchArrayGlobal.push(searchArrayObject);
                            }
                        }
                        searchGlobal += " )";
                    }

                    v.userName = "@loggedUser";
                    v.userRight = "@userRight";
                    v.whereClauseSearch = searchV + searchGlobal;
                    v.searchArray = searchArray;
                    v.searchArrayGlobal = searchArrayGlobal;
                    v.searchArrayLength = searchArray.length;
                    v.searchArrayGlobalLength = searchArrayGlobal.length;
                    if (v.order.length > 0) {
                        v.sortBy = " order by " + v.columns[v.order[0].column].data + " " + v.order[0].dir + " ";
                    } else {
                        v.sortBy = " order by orderDeliveryDateTime desc, orderid desc ";
                    }
                    var table2 = $("#tableData").DataTable();
                    v.currentPage = table2.page.info().page;
                    v.pageLengthData = table2.page.len();
                    v.rowLength = v.length;
                    return JSON.stringify(v);
                },
                contentType: "application/json; charset=utf-8",
                headers: {
                    "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                    //$("#loadingDiv").modal("show");
                },
                complete: function (data) {
                    //$("#loadingDiv").modal("hide");
                },
                dataType: "json",
                cache: "false",
                async: false
            },
            columns: [
                { data: "orderId" },
                { data: "stationName" },
                { data: "contactPhone" },
                { data: "receiverCity" },
                { data: "receiverPhone" },
                { data: "receiverCompanyName" },
                { data: "orderTypeName" },
                { data: "chashOnDeliverySum" },
                { data: "orderDeliveryDateTime" },
                { data: "orderCreatedDateTime" },
                { data: "orderDescriptionStationName" },
                { data: "statusDescription" },
                {
                    data: "statusOrderFinished",
                    className: "text-bottom",
                    render: function (data, type, full, meta) {
                        return '<input type="checkbox" class="checkbox" ' + ((data == true) ? "checked" : "") + ' disabled />';
                    },
                    readonly: true
                },
                { data: "nearestStationName" }
            ],
            rowCallback: function (row, data, index) {
                if (data.statusOrderFinished == true) {
                    $('td', row).css("background-color", "#3CB371");
                };

                if ( (data.statusOrderFinished == false) && (data.priorityOrder == 1 ) ) {
                    $('td', row).css("background-color", "#FF0000");
                }
            }
        });
        setButtonState(false)
        setClickOnFooterFn()
    };

    function callReadData_static(table, callType) {
        var dataJSON = { "userName": "@loggedUser", "userRight" : "@userRight" };
        dataJSON.orderCreationDateSearch = $("#orderCreatedDateTime").val() + "-01";
        dataJSON.contactCity = ($("#ordersFromCity").val() != "" ? $("#ordersFromCity option:selected").text() : "" );
        dataJSON.receiverCity = ($("#ordersToCity").val() != "" ? $("#ordersToCity option:selected").text() : "");
        dataJSON = JSON.stringify(dataJSON);
        var table = $("#tableData").DataTable();
        if (table.data().any()) {
            /*$("#loadingDiv").on("show.bs.modal", function () {
                table.destroy();
            });*/
            $("#loadingDiv").modal("show");
            table.destroy();
        }
        var table = $("#tableData").DataTable({
            destroy: true,
            serverSide: false,
            processing: true,
            paging: true,
            searching: { "regex": true },
            start: 0,
            length: 10,
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            pageLength: 10,
            ajax: {
                type: "POST",
                url: "/Home/" + callType,
                data: function (v) {
                    return dataJSON;
                },
                contentType: "application/json; charset=utf-8",
                headers: {
                    "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                    $("#loadingDiv").modal("show");
                },
                complete: function (data) {
                    $("#loadingDiv").modal("hide");
                },
                dataType: "json",
                cache: "false",
                async: true
            },
            columns: [
                { data: "autoId" },
                { data: "orderId" },
                { data: "createdBy" },
                { data: "stationName" },
                { data: "contactCity" },
                { data: "contactPhone" },
                { data: "contactCompanyName" },
                { data: "receiverCity" },
                { data: "receiverPhone" },
                { data: "receiverCompanyName" },
                { data: "orderTypeName" },
                { data: "orderIsDocument" },
                { data: "orderCount" },
                { data: "chashOnDelivery" },
                { data: "chashOnDeliverySum" },
                { data: "chashOnDeliveryName" },
                { data: "orderDeliveryDateTime" },
                { data: "orderCreatedDateTime" },
                { data: "orderDescriptionStationName" },
                { data: "statusDescription" },
                {
                    data: "statusOrderFinished",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<input type="checkbox" class="checkbox" ' + ((data == true) ? "checked" : "") + ' disabled />';
                    },
                    readonly: true
                }
            ],
            rowCallback: function (row, data, index) {
                if (data.statusOrderFinished == true) {
                    $('td', row).css('background-color', 'Red');
                }
            }
        });

        table.columns([0, 2, 4, 6, 11, 13, 14, 15]).visible(false, false);
    };


//########################################################################## START PDF ##########################################################################

    function getCustomerInformation(vOrderId, vContactType) {
        var vResult = {};
        vResult.vOrderId = vOrderId;
        vResult.vContactType = vContactType;
        vResult.userName = "@loggedUser";
        var dataJSON = JSON.stringify(vResult);
        $.ajax({
            type: "POST",
            url: "/Home/getContactInformation",
            data: dataJSON,
            contentType: "application/json; charset=utf-8",
            headers: {
                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
            },
            dataType: "json",
            cache: "false",
            async: false,
            success: function (msg) {
                if (msg.resultState) {
                    vResult.returnData = msg.returnObject;
                }
            },
            complete: function (msg) {
            },
            error: function (msg) {
                alert("error : " + msg.resultMessage);
                return false;
            }
        });

        return vResult;
    }

    //Function to get the data
    function callReadAndLoadData(orderId) {
        var dataJSON = JSON.stringify({ "userName": "@loggedUser", "orderId": orderId });
        var vReturnObject = {
            returnState: false, returnData: {}
        };
        $.ajax({
            type: "POST",
            url: "/Home/getOrderFullViewOrders",
            data: dataJSON,
            contentType: "application/json; charset=utf-8",
            headers: {
                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
            },
            dataType: "json",
            cache: "false",
            async: false,
            success: function (msg) {
                var dataToLoad = msg;
                if (dataToLoad.resultState == true) {
                    vReturnObject.returnState = dataToLoad.resultState;
                    vReturnObject.returnData = dataToLoad.returnObject;
                }
                return vReturnObject;
            },
            error: function (msg) {
                return vReturnObject;
            }
        });

        return vReturnObject;
    }

    function textToBase64Barcode(text) {
        var canvas = document.createElement("canvas");
        JsBarcode(canvas, text, { format: "CODE39" });
        return canvas.toDataURL("image/png");
    }

    function toDataUrl(url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
            var reader = new FileReader();
            reader.onloadend = function () {
                callback(reader.result);
            }
            reader.readAsDataURL(xhr.response);
        };
        xhr.open('GET', url);
        xhr.responseType = 'blob';
        xhr.send();
    }

    function buildDeliveryArray(vOrderDetails) {
        var vReturnArray = [];
        vReturnArray.push("Тип плащане:" + vOrderDetails.returnData[0].chashOnDeliveryName);
        vReturnArray.push("\nОписание на пратката:" + vOrderDetails.returnData[0].orderContent);
        vReturnArray.push("\nТип:" + vOrderDetails.returnData[0].deliveryType);
        if (typeof vOrderDetails.returnData[0].orderExtraPricesId != "undefined" && typeof vOrderDetails.returnData[0].orderDeliveryDateTime != "undefined") {
            if ($.inArray("17", vOrderDetails.returnData[0].orderExtraPricesId.split(",").map(item => item.trim())) > -1) {
                vReturnArray.push("\nФиксиран час: " + vOrderDetails.returnData[0].orderDeliveryDateTime);
            }
        }
        vReturnArray.push("\n\nБрой:" + vOrderDetails.returnData[0].orderCount + "  Тегло:" + vOrderDetails.returnData[0].orderWeight + " (кг.)");

        return vReturnArray;
    }

    function PDFGenerate(vLogoImage) {
        //Examples : http://pdfmake.org/index.html#/gettingstarted
        var vOrderId = 0;
        if ($('#tableData').DataTable().rows('.selected').any()) {
            vOrderId = $('#tableData').DataTable().rows('.selected').data()[0].orderId;
        } else {
            alert("Моля изберете поръчка.");
            return false;
        };

        var vBarcode = textToBase64Barcode(vOrderId);
        var vSenderInformation = getCustomerInformation(vOrderId, "sender");
        var vReceiverInformation = getCustomerInformation(vOrderId, "receiver");
        var vOrderDetails = callReadAndLoadData(vOrderId);
        if (vOrderDetails.returnState != true) { return false };
        var docDefinition = {
            pageOrientation: "landscape",
            background: [
                {
                    image: vLogoImage,
                    fit: [100, 100],
                    pageBreak: "after",
                    alignment: "left"
                }
            ],
            content: [
                {
                    alignment: "center",
                    text: "ТОВАРИТЕЛНИЦА №" + vOrderId + "\n",
                    style: "header"
                },
                {
                    image: vBarcode,
                    width: 250,
                    alignment: "center"
                },
                {
                    style: 'tableExample',
                    table: { //Start main table
                        headerRows: 1,
                        body: [
                            [
                                [
                                    {
                                        table: {	//Start inner table 1
                                            body: [
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: "Подател",
                                                        style: "tableHeader",
                                                        alignment: "center"
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: [
                                                            "Фирма:" + vOrderDetails.returnData[0].contactCompanyName,
                                                            "\n\nТелефон:" + vOrderDetails.returnData[0].contactPhone,
                                                            "\n\Адрес:" + vOrderDetails.returnData[0].contactCity + ", " + vOrderDetails.returnData[0].contactAddress,
                                                            "\n\nИме:" + vSenderInformation.returnData[0].contactFirstName + " " + vOrderDetails.returnData[0].contactMidleName,
                                                            "\nФамилия:" + vSenderInformation.returnData[0].contactLastName + " подпис:............",
                                                            "\n\nДата:........ Час: ........",
                                                            "\nКуриер: ................ Подпис: ........"
                                                        ]
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: "Получател",
                                                        style: "tableHeader",
                                                        alignment: "center"
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: [
                                                            "Фирма:" + vOrderDetails.returnData[0].receiverCompanyName,
                                                            "\n\nТелефон:" + vOrderDetails.returnData[0].receiverPhone,
                                                            "\n\Адрес:" + vOrderDetails.returnData[0].receiverCity + ", " + vOrderDetails.returnData[0].receiverAdress,
                                                            "\n\nИме:" + vReceiverInformation.returnData[0].contactFirstName + " " + vReceiverInformation.returnData[0].contactMidleName,
                                                            "\nФамилия:" + vReceiverInformation.returnData[0].contactLastName + " подпис:............",
                                                            "\n\nДата:........ Час: ........",
                                                            "\nКуриер: ................ Подпис: ........"
                                                        ]
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: [
                                                            "ПЛАЩАНЕ:" + vOrderDetails.returnData[0].chashOnDeliveryName
                                                        ]
                                                    }
                                                ]
                                            ]
                                        }, //End inner table 1
                                        layout: {
                                            hLineWidth: function (i, node) {
                                                return (i === 0 || i === node.table.body.length) ? 2 : 1;
                                            },
                                            vLineWidth: function (i, node) {
                                                return (i === 0 || i === node.table.widths.length) ? 2 : 1;
                                            },
                                            hLineColor: function (i, node) {
                                                return (i === 0 || i === node.table.body.length) ? 'black' : 'gray';
                                            },
                                            vLineColor: function (i, node) {
                                                return (i === 0 || i === node.table.widths.length) ? 'black' : 'gray';
                                            },
                                            paddingLeft: function (i, node) { return 10; },
                                            //paddingRight: function (i, node) { return 40; },
                                            //paddingTop: function (i, node) { return 2; },
                                            //paddingBottom: function (i, node) { return 2; },
                                            fillColor: function (i, node) { return null; }
                                        }
                                    },

                                ],
                                [
                                    {
                                        table: { //Start inner table 2
                                            body: [
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: "ПЛИК №",
                                                        style: "tableHeader",
                                                        alignment: "center"
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: [
                                                            "от:" + vOrderDetails.returnData[0].contactCity,
                                                            "\n\nдо:" + vOrderDetails.returnData[0].receiverCity,
                                                            "\n\Обратна разписка:........",
                                                            "\n\nПридружаващи документи:........",
                                                            "\nБрой:........"
                                                        ]
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: "Плащане",
                                                        style: "tableHeader",
                                                        alignment: "center"
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: [
                                                            "Наложен платеж:" + vOrderDetails.returnData[0].chashOnDeliverySum,
                                                            "\n\nИзплати:" + vOrderDetails.returnData[0].chashOnDeliverySum + "  Събери:" + ( vOrderDetails.returnData[0].orderPriceVat + vOrderDetails.returnData[0].chashOnDeliverySum).toFixed(2),
                                                            "\n\Обявена стойност:" + vOrderDetails.returnData[0].orderInsuranceSum,
                                                            "\n\nОБЩА СТОЙНОСТ НА УСЛУГАТА:" + vOrderDetails.returnData[0].orderPriceVat
                                                        ]
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: "ДОСТАВКА",
                                                        style: "tableHeader",
                                                        alignment: "center"
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: buildDeliveryArray(vOrderDetails)
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: [
                                                            "Други условия:" + vOrderDetails.returnData[0].orderDescription
                                                        ]
                                                    }
                                                ]
                                            ]
                                        }, //End inner table 2
                                        layout: {
                                            hLineWidth: function (i, node) {
                                                return (i === 0 || i === node.table.body.length) ? 2 : 1;
                                            },
                                            vLineWidth: function (i, node) {
                                                return (i === 0 || i === node.table.widths.length) ? 2 : 1;
                                            },
                                            hLineColor: function (i, node) {
                                                return (i === 0 || i === node.table.body.length) ? 'black' : 'gray';
                                            },
                                            vLineColor: function (i, node) {
                                                return (i === 0 || i === node.table.widths.length) ? 'black' : 'gray';
                                            },
                                            paddingLeft: function (i, node) { return 10; },
                                            //paddingRight: function (i, node) { return 40; },
                                            //paddingTop: function (i, node) { return 2; },
                                            //paddingBottom: function (i, node) { return 2; },
                                            fillColor: function (i, node) { return null; }
                                        }
                                    },

                                ],
                                [
                                    {
                                        table: { //Start inner table 3
                                            body: [
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: "ОБРАТНА РАЗПИСКА \nКЪМ ТОВАРИТЕЛНИЦА \n№:" + vOrderId,
                                                        style: "tableHeader",
                                                        alignment: "center"
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: "ПОДАТЕЛ",
                                                        style: "tableHeader",
                                                        alignment: "center"
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: [
                                                            "Фирма:" + vOrderDetails.returnData[0].contactCompanyName,
                                                            "\nИме:" + vSenderInformation.returnData[0].contactFirstName + " " + vOrderDetails.returnData[0].contactMidleName,
                                                            "\nФамилия:" + vSenderInformation.returnData[0].contactLastName
                                                        ]
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: "ПОЛУЧАТЕЛ",
                                                        style: "tableHeader",
                                                        alignment: "center"
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: [
                                                            "Фирма:" + vOrderDetails.returnData[0].receiverCompanyName,
                                                            "\nИме:" + vReceiverInformation.returnData[0].contactFirstName + " " + vReceiverInformation.returnData[0].contactMidleName,
                                                            "\nФамилия:" + vReceiverInformation.returnData[0].contactLastName
                                                        ]
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: "ПОЛУЧИЛ",
                                                        style: "tableHeader",
                                                        alignment: "center"
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: [
                                                            "Дата:..................",
                                                            "\nЧас:..............",
                                                            "\n\nПодпис:.............."
                                                        ]
                                                    }
                                                ],
                                                [
                                                    {
                                                        border: [true, true, true, true],
                                                        text: [
                                                            "Име:..................",
                                                            "\nФамилия:..............",
                                                            "\n\nПодпис:.............."
                                                        ]
                                                    }
                                                ]
                                            ]
                                        }, //End inner table 3
                                        layout: {
                                            hLineWidth: function (i, node) {
                                                return (i === 0 || i === node.table.body.length) ? 2 : 1;
                                            },
                                            vLineWidth: function (i, node) {
                                                return (i === 0 || i === node.table.widths.length) ? 2 : 1;
                                            },
                                            hLineColor: function (i, node) {
                                                return (i === 0 || i === node.table.body.length) ? 'black' : 'gray';
                                            },
                                            vLineColor: function (i, node) {
                                                return (i === 0 || i === node.table.widths.length) ? 'black' : 'gray';
                                            },
                                            paddingLeft: function (i, node) { return 10; },
                                            //paddingRight: function (i, node) { return 40; },
                                            //paddingTop: function (i, node) { return 2; },
                                            //paddingBottom: function (i, node) { return 2; },
                                            fillColor: function (i, node) { return null; }
                                        }
                                    },

                                ]
                            ]
                        ]
                    }, //End main table
                    layout: "noBorders"
                }
            ],
            styles: {
                header: {
                    fontSize: 24,
                    bold: true
                },
                subheader: {
                    fontSize: 15,
                    bold: true
                },
                quote: {
                    italics: true
                },
                small: {
                    fontSize: 8
                },
                tableExample: {
                    margin: [2, 5, 2, 15]
                },
                tableHeader: {
                    bold: true,
                    fontSize: 13,
                    color: "black"
                }
            }
        };

        // print the PDF
        pdfMake.createPdf(docDefinition).open();
    }
//########################################################################## END PDF ##########################################################################

//########################################################################## START GET DETAILS ##########################################################################

    function showGetDetailsWindow() {
        var vOrderId = 0;
        if ($('#tableData').DataTable().rows('.selected').any()) {
            vOrderId = $('#tableData').DataTable().rows('.selected').data()[0].orderId;
        } else {
            alert("Моля изберете поръчка.");
            return false;
        };

        $("#orderDetailsMovmentsModal").modal("show");
        return callReadDataGetDetails("readOrderDetailsAnon", vOrderId);
    }

    function callReadDataGetDetails(actionCall, vOrderId) {
        var table = $("#tableDataShowDetails").DataTable({
            destroy: true,
            serverSide: false,
            processing: true,
            paging: true,
            searching: false,
            start: 0,
            length: 10,
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            pageLength: 10,
            ajax: {
                type: "POST",
                url: "/Home/" + actionCall,
                data: function (v) {
                    v.userName = "@loggedUser";
                    v.orderId = vOrderId
                    return JSON.stringify(v);
                },
                contentType: "application/json; charset=utf-8",
                headers: {
                    "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                },
                dataType: "json",
                cache: "false",
                async: false
            },
            columns: [
                { data: "rowNumber" },
                { data: "orderId" },
                { data: "stationName" },
                { data: "userNames" },
                { data: "orderDetailDescription" },
                { data: "statusType" },
                { data: "orderDetailCreateDT" }
            ]
        });

        table.columns([1]).visible(false, false);
    }
//########################################################################## END GET DETAILS ##########################################################################

</script>

<h2>Поръчки</h2>
<div id="dataBody">
    <div id="searchDiv">
        <table border="0" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <th>
                    Моля задайте период и критерии
                </th>
            </tr>
            <tr>
                <td>
                    Месец <input type="text" id="orderCreatedDateTime" class="mtz-monthpicker-widgetcontainer">
                </td>
                <!--
                <td>
                    @Html.LabelFor(u => u.ordersFromCity) @Html.DropDownListFor(u => u.ordersFromCity, new SelectList(Model.ordersFromCity, "Value", "Text"), "")
                </td>
                <td>
                    @Html.LabelFor(u => u.ordersToCity) @Html.DropDownListFor(u => u.ordersToCity, new SelectList(Model.ordersToCity, "Value", "Text"), "")
                </td>
                -->
                <td>
                    <button id="btnSearch" class="btn btn-primary" onclick="resetTableAndSearch('readMainViewOrders')">Покажи поръчки</button>
                </td>

            </tr>
        </table>
    </div>
    <div id="table">
        <table id="tableData" class="display responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">№</th>
                    <th class="desktop">Създадена</th>
                    <th class="none">Под. телефон</th>
                    <th class="desktop">Пол. град</th>
                    <th class="none">Пол. телефон</th>
                    <th class="none">Пол. име на фирма</th>
                    <th class="none">Тип поръчка</th>
                    <th class="desktop">Налож. пл. лв.</th>
                    <th class="all">Дата дост.</th>
                    <th class="all">Дата създ.</th>
                    <th class="none">Последно преминала през станция</th>
                    <th class="none">Последен статус</th>
                    <th class="all">Доставена</th>
                    <th class="none">Най близка станция</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th><input type="text" placeholder="№" /></th>
                    <th><input type="text" placeholder="Създ." /></th>
                    <th><input type="text" placeholder="Под. телефон" /></th>
                    <th><input type="text" placeholder="Пол. град" /></th>
                    <th><input type="text" placeholder="Пол. телефон" /></th>
                    <th><input type="text" placeholder="Пол. име на фирма" /></th>
                    <th><input type="text" placeholder="Тип поръчка" /></th>
                    <th><input type="text" placeholder="Налож. пл. лв." /></th>
                    <th><input type="text" placeholder="Дата дост." /></th>
                    <th><input type="text" placeholder="Дата създ." /></th>
                    <th><input type="text" placeholder="Последно преминала през станция" /></th>
                    <th><input type="text" placeholder="Последен статус" /></th>
                    <th><input type="text" placeholder="Доставена" /></th>
                    <th><input type="text" placeholder="Най близка станция" /></th>
                </tr>
            </tfoot>
            <tbody></tbody>
        </table>
        <!--
        <th>№</th>
        <th>№ поръчка</th>
        <th>Създаден от</th>
        <th>Име на станция</th>
        <th>Подател град</th>
        <th>Подател телефон</th>
        <th>Подател име на фирма</th>
        <th>Получател град</th>
        <th>Получател телефон</th>
        <th>Получател име на фирма</th>
        <th>Тип поръчка</th>
        <th>Документ</th>
        <th>Брой</th>
        <th>Наложен платеж</th>
        <th>Наложен платеж сума</th>
        <th>Тип наложен платеж</th>
        <th>Дата на доставка</th>
        <th>Дата на създаване</th>
        -->

    </div>
</div>
<div>
    @{
        if (@user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, @user.Name) && ((@userRight == "Administrator") || (@userRight == "StationAdministrator") || (@userRight == "Client")))
        {
            <button id="btnNew" class="btn btn-primary" onclick="location.href='@Url.Action("OrderDetail", "Home", new { orderStatus = "new" })'">Нова поръчка</button>
            <button id="btnEdit" class="btn btn-primary" onclick="editObject()">Редактирай поръчка</button>
            <button id="btnPrintPdf" class="btn btn-primary" onclick="PDFGenerate(vLogoImage)">Принтирай ...</button>
        }
        <button id="btnShowDetails" class="btn btn-primary" onclick="showGetDetailsWindow()">Покажи детайли</button>
    }
</div>
<div id="loadingDiv" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loadingDiv" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div id="contactBody" class="modal-body">
                    <h2>Зареждане, моля изчакайте</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="orderDetailsMovmentsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="orderDetailsModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <form id="orderDetailsMovmentsForm" method="post" action="javascript:void(0);">
        <fieldset>
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div id="contactBody" class="modal-body">
                            <table id="tableDataShowDetails" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>№ пор.</th>
                                        <th>Станция</th>
                                        <th>Потребител</th>
                                        <th>Детайли</th>
                                        <th>Статус</th>
                                        <th>Дата</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div id="orderIsLocked" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="orderIsLockedModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderIsLockedModalLabel">Заключена поръчка : <span id="orderLockedByOrderId"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="orderLockedBySpan"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Назад</button>
                @{
                    if (@user.IsAuthenticated && user.HasClaim(System.Security.Claims.ClaimTypes.Name, @user.Name) && ((@userRight == "Administrator")))
                    {
                        <button id="btnUnlockOrder" type="button" class="btn btn-primary" onClick="unlockOrder()">Отключи поръчката</button>
                    }
                }
            </div>
        </div>
    </div>
</div>