﻿@model startProject1.Models.SetDetailsController
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    System.Security.Claims.ClaimsIdentity user = (System.Security.Claims.ClaimsIdentity)(User.Identity);
    string loggedUser;
    if (user != null)
    {
        loggedUser = System.Net.WebUtility.UrlEncode(user.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Name).Select(c => c.Value).SingleOrDefault());
        loggedUser = loggedUser.Replace("+", " ");
    }
    else
    {
        loggedUser = "";
    }
}
@{
    ViewData["Title"] = "Задай детайли";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css">

    <script src="~/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/dataTables.min.css" asp-append-version="true" runat="server" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">

    <script src="~/js/jquery.dataTables.min.js" asp-append-version="true" runat="server"></script>
    <script src="~/js/jquery-ui.min.js" asp-append-version="true" runat="server"></script>
</environment>
<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

</style>
<script>
    var editState = "";
    var vCanvasObject = {};
    var vCanvasDrawCollected = true;
    var vCanvasDrawFinished = true;
    $(document).ready(function () {
        (function ($) {

            $.fn.updateValidation = function() {
                var $this = $(this);
                var form = $this.closest("form").removeData("validator").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse(form);
                return $this;
            };
        })(jQuery);
        $("#editOrderDetailsForm").attr("data-val-range-min", this.checked ? "1" : "2").updateValidation();
        callReadData("readOrderDetails");
        checkStatusesOptionForFinished();
    });


    function checkStatusesOptionForFinished() {
        $("#statusId option").each(function(){
            if (this.value.indexOf('_')>-1) {
                this.value = this.value.substr(0, this.value.indexOf('_'));
                $(this).attr("data-orderfinished", "1")
            }
        })
    }

    function setButtonState(value) {
        if (value) {
            $("#editDetails").show()
            $("#dataBody").addClass("disabledbutton");
            $('#stationId').val(@ViewData["userDefaultStationId"]);
            $("#editButtonDiv").addClass("disabledbutton");
        } else {
            $("#editDetails").hide()
            $("#dataBody").removeClass("disabledbutton");
            $("#editButtonDiv").removeClass("disabledbutton");
        }
    }

    function newObject() {
        setButtonState(true);
        editState = "insert";
    }

    function cancelObject() {
        setButtonState(false);
    }

    function saveNewObject() {
        var table = $('#tableData').DataTable();
        if (!$("#editOrderDetailsForm").valid()) {
            return false;
        };

        var vSelectedStatus = document.getElementById("statusId");
        var checkForCanvas = ($(vSelectedStatus.options[vSelectedStatus.selectedIndex]).data("orderfinished") == "1");
        var checkForCanvasCollected = ($(vSelectedStatus.options[vSelectedStatus.selectedIndex]).text() == "Поръчката събрана от куриер");

        if (checkForCanvas) {
            if (isCanvasEmpty(document.getElementById("drawCanvasSignature"))) {
                $("#emptyCanvasSpan").show();
                return false;
            } else {
                $("#emptyCanvasSpan").hide();
                var canvasAsObject = getCanvasAsObject("drawCanvasSignature");
            }
        };

        if (checkForCanvasCollected) {
            if (isCanvasEmpty(document.getElementById("drawCanvasSignatureCollected"))) {
                $("#emptyCanvasSpan").show();
                return false;
            } else {
                $("#emptyCanvasSpan").hide();
                var canvasAsObjectCollected = getCanvasAsObject("drawCanvasSignatureCollected");
            }
        };

        var dataJSON = {};
        dataJSON.orderId = '@ViewData["orderId"]';
        dataJSON.stationId = $("#stationId").val();
        dataJSON.userName = "@loggedUser";
        dataJSON.orderDetailDescription = $("#orderDetailDescription").val();
        dataJSON.statusId = $("#statusId").val();
        dataJSON.canvasAsObject = canvasAsObject;
        dataJSON.canvasAsObjectCollected = canvasAsObjectCollected;

        var dataJSON = JSON.stringify({ dataJSON });
        var urltocall = "";
        if (editState == "insert") {
            urltocall = "/Home/saveOrderDetail"
        }
        $.ajax({
            type: "POST",
            url: urltocall,
            data: dataJSON,
            contentType: "application/json; charset=utf-8",
            headers: {
                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
            },
            dataType: "json",
            cache: "false",
            async: false,
            success: function (msg) {
                if (msg.resultState) {
                    callReadData("readOrderDetails");
                } else {
                    alert(msg.resultMessage);
                }
                return true;
            },
            complete: function (msg) {
                return true;
            },
            error: function (msg) {
                alert("error : " + JSON.stringify(msg));
                return false;
            }
        });

    }

    function callOrderFinished(vCanvasObject) {
        if (vCanvasDrawFinished) {
            $("#editButtonDiv").addClass("disabledbutton");
            $("#warningDiv").show();
            drawCanvas("drawCanvas", "#drawDiv");
            if (checkIfCanBeParsed(vCanvasObject)) {
                loadCanvasFromObject(JSON.parse(vCanvasObject), "drawCanvas");
            }
            vCanvasDrawFinished = false;
            $("#warningDivCollected").hide();
        }
    }

    function callOrderCollected(vCanvasObject) {
        if (vCanvasDrawCollected) {
            $("#warningDivCollected").show();
            drawCanvas("drawCanvasCollected", "#drawDivCollected");
            if (checkIfCanBeParsed(vCanvasObject)) {
                loadCanvasFromObject(JSON.parse(vCanvasObject), "drawCanvasCollected");
            }
            vCanvasDrawCollected = false;
        }
    }

    function checkFinishingOrder(vValue) {
        if ($(vValue.options[vValue.selectedIndex]).data("orderfinished") == "1") {
            $("#warningDivNoMoreChange").show();
            //drawCanvas("drawCanvasSignature", "#drawDivSignature");
            prepareSimpleCanvas("drawDivSignature", "drawCanvasSignature");
        }
        else if ($(vValue.options[vValue.selectedIndex]).text() == "Поръчката събрана от куриер") {
            $("#orderStatusCollected").show();
            prepareSimpleCanvas("drawDivSignatureCollected", "drawCanvasSignatureCollected");
        } else {
            $("#warningDivNoMoreChange").hide();
            $("#orderStatusCollected").hide();
        }
    }

    function callReadData(actionCall) {
        setButtonState(false);
        var table = $("#tableData").DataTable({
            destroy: true,
            serverSide: false,
            processing: true,
            paging: true,
            searching: { "regex": true },
            start: 0,
            length: 10,
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            pageLength: 10,
            ajax: {
                type: "POST",
                url: "/Home/" + actionCall,
                data: function (v) {
                    v.userName = "@loggedUser";
                    v.orderId = '@ViewData["orderId"]'
                    return JSON.stringify(v);
                },
                contentType: "application/json; charset=utf-8",
                headers: {
                    "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-XSRF-TOKEN", "@GetAntiXsrfRequestToken()");
                },
                dataType: "json",
                cache: "false",
                async: false
            },
            columns: [
                { data: "rowNumber" },
                { data: "orderId" },
                { data: "stationName" },
                { data: "userNames" },
                { data: "orderDetailDescription" },
                { data: "statusType" },
                { data: "orderDetailCreateDT" },
                {
                    data: "statusOrderFinished",
                    className: "text-bottom",
                    render: function (data, type, full, meta) {
                        if (data == true) {
                            callOrderFinished(full.canvasAsObject);
                        } else if (typeof full.canvasAsObjectCollected != "undefined" && full.canvasAsObjectCollected != "") {
                            callOrderCollected(full.canvasAsObjectCollected);
                        };
                        return '<input type="checkbox" class="checkbox" ' + ((data == true) ? "checked" : "") + ' disabled />';
                    },
                    readonly: true
                }
            ]
        });

        table.columns([1]).visible(false, false);

        $('#tableData tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="' + title + '" />');
        });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('#tableData tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

    }

    function checkIfCanBeParsed(vStringAsObject) {
        var vResult = true;
        try {
            var v = JSON.parse(vStringAsObject);
        }
        catch(err){
            vResult = false;
        }

        return vResult;
    }

    /*Start draw functions*/

    /* Start with touch example */
    var canvas;
    var context;
    var canvasWidth = 490;
    var canvasHeight = 220;
    var padding = 25;
    var lineWidth = 8;
    var clickX = new Array();
    var clickY = new Array();
    var clickColor = new Array();
    var clickTool = new Array();
    var clickSize = new Array();
    var clickDrag = new Array();
    var paint = false;
    var curTool = "black";
    var curSize = "normal";
    var clickX_simple = new Array();
    var clickY_simple = new Array();
    var clickDrag_simple = new Array();
    var paint_simple;
    var canvas_simple;
    var context_simple;

    function prepareSimpleCanvas(divSignature, canvasSignature) {
        // Create the canvas (Neccessary for IE because it doesn't know what a canvas element is) "drawCanvasSignature", "drawDivSignature"
        var canvasDiv = document.getElementById(divSignature);
        canvas_simple = document.getElementById(canvasSignature);

        //canvas_simple.setAttribute('width', canvasWidth);
        //canvas_simple.setAttribute('height', canvasHeight);
        //canvas_simple.setAttribute('id', 'canvasSimple');
        //canvasDiv.appendChild(canvas_simple);
        if (typeof G_vmlCanvasManager != 'undefined') {
            canvas_simple = G_vmlCanvasManager.initElement(canvas_simple);
        }
        context_simple = canvas_simple.getContext("2d");

        // Add mouse events
        // ----------------
        $('#' + canvasSignature).mousedown(function (e) {
            // Mouse down location
            var mouseX = e.pageX - this.offsetLeft;
            var mouseY = e.pageY - this.offsetTop;

            paint_simple = true;
            addClickSimple(mouseX, mouseY, false);
            redrawSimple();
        });

        $('#' + canvasSignature).mousemove(function (e) {
            if (paint_simple) {
                addClickSimple(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, true);
                redrawSimple();
            }
        });

        $('#' + canvasSignature).mouseup(function (e) {
            paint_simple = false;
            redrawSimple();
        });

        $('#' + canvasSignature).mouseleave(function (e) {
            paint_simple = false;
        });

        // Add touch event listeners to canvas element
        canvas_simple.addEventListener("touchstart", function (e) {
            // Mouse down location
            var mouseX = (e.changedTouches ? e.changedTouches[0].pageX : e.pageX) - this.offsetLeft,
                mouseY = (e.changedTouches ? e.changedTouches[0].pageY : e.pageY) - this.offsetTop;

            paint_simple = true;
            addClickSimple(mouseX, mouseY, false);
            redrawSimple();
        }, false);
        canvas_simple.addEventListener("touchmove", function (e) {

            var mouseX = (e.changedTouches ? e.changedTouches[0].pageX : e.pageX) - this.offsetLeft,
                mouseY = (e.changedTouches ? e.changedTouches[0].pageY : e.pageY) - this.offsetTop;

            if (paint_simple) {
                addClickSimple(mouseX, mouseY, true);
                redrawSimple();
            }
            e.preventDefault()
        }, false);
        canvas_simple.addEventListener("touchend", function (e) {
            paint_simple = false;
            redrawSimple();
        }, false);
        canvas_simple.addEventListener("touchcancel", function (e) {
            paint_simple = false;
        }, false);
    }

    function addClickSimple(x, y, dragging) {
        clickX_simple.push(x);
        clickY_simple.push(y);
        clickDrag_simple.push(dragging);
    }

    function clearCanvas_simple() {
        context_simple.clearRect(0, 0, canvasWidth, canvasHeight);
    }

    function redrawSimple() {
        clearCanvas_simple();

        var radius = 5;
        context_simple.strokeStyle = "black";
        context_simple.lineJoin = "round";
        context_simple.lineWidth = radius;

        for (var i = 0; i < clickX_simple.length; i++) {
            context_simple.beginPath();
            if (clickDrag_simple[i] && i) {
                context_simple.moveTo(clickX_simple[i - 1], clickY_simple[i - 1]);
            } else {
                context_simple.moveTo(clickX_simple[i] - 1, clickY_simple[i]);
            }
            context_simple.lineTo(clickX_simple[i], clickY_simple[i]);
            context_simple.closePath();
            context_simple.stroke();
        }
    }


    /* End with touch example */

    function drawCanvas(canvasToDraw, divToDraw) {
        var canvas = document.getElementById(canvasToDraw);
        var ctx = canvas.getContext('2d');

        var sketch = document.querySelector(divToDraw);
        var sketch_style = getComputedStyle(sketch);
        canvas.width = parseInt(sketch_style.getPropertyValue('width'));
        canvas.height = parseInt(sketch_style.getPropertyValue('height'));

        var mouse = { x: 0, y: 0 };
        var last_mouse = { x: 0, y: 0 };

        /* Mouse Capturing Work */
        canvas.addEventListener('mousemove', function (e) {
            last_mouse.x = mouse.x;
            last_mouse.y = mouse.y;

            mouse.x = e.pageX - this.offsetLeft;
            mouse.y = e.pageY - this.offsetTop;
        }, false);


        /* Drawing on Paint App */
        ctx.lineWidth = 5;
        ctx.lineJoin = 'round';
        ctx.lineCap = 'round';
        ctx.strokeStyle = 'black';

        canvas.addEventListener('mousedown', function (e) {
            canvas.addEventListener('mousemove', onPaint, false);
        }, false);

        canvas.addEventListener('mouseup', function () {
            canvas.removeEventListener('mousemove', onPaint, false);
        }, false);

        var onPaint = function () {
            ctx.beginPath();
            ctx.moveTo(last_mouse.x, last_mouse.y);
            ctx.lineTo(mouse.x, mouse.y);
            ctx.closePath();
            ctx.stroke();
        };

    };

    function clearCanvas(canvasToClear) {
        var $canvas = $('#' + canvasToClear);
        var ctx = $canvas[0].getContext('2d');
        c_width = $canvas.width();
        c_height = $canvas.height();
        ctx.clearRect(0, 0, c_width, c_height);

        clickX_simple = new Array();
        clickY_simple = new Array();
        clickDrag_simple = new Array();
        clearCanvas_simple();

    };

    function getCanvasAsObject(canvasAsObject) {
        var canvasObject = document.getElementById(canvasAsObject);
        var saveData = { image: canvasObject.toDataURL(), date: Date.now() };
        var stringJSON = JSON.stringify(saveData);

        clearCanvas(canvasAsObject);

        loadCanvasFromObject(saveData, canvasAsObject);
        return stringJSON;
    }

    function isCanvasEmpty(vCanvas) {
        return !vCanvas.getContext('2d').getImageData(0, 0, vCanvas.width, vCanvas.height).data.some(channel => channel !== 0);
    }

    function loadCanvasFromObject(vObject, canvasAsObject){
        var canvas = document.getElementById(canvasAsObject);
        var ctx = canvas.getContext('2d');
        var data = vObject;
        var image = new Image();
        image.onload = function () {
            canvas.width = this.width;
            canvas.height = this.height;
            //ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.drawImage(image, 0, 0); // draw the new image to the screen
        }
        image.src = data.image; // data.image contains the data URL
    };

    /*End draw function */
</script>
<h2>Задай детайли на поръчка : @ViewData["orderId"]</h2>
<div id="editDetails">
    <form id="editOrderDetailsForm" method="post">
        <fieldset>
            <div id="editDataBody">
                <div class="alert alert-warning" role="alert" id="warningDivNoMoreChange" style="display:none;" align="center">
                    Внимание след като поръчката се запише с тази опция не може да се правят повече промени по нея! Подпис на клиента:
                    <div id="drawDivSignature">
                        <div id="emptyCanvasSpan" style="color: orangered; font-size: 24px; height: 100%; display: none;">Подпис задължителен</div>
                        <canvas id="drawCanvasSignature" width="800" height="150" style="border: 5px solid orangered; height: 100%;"></canvas>
                        <input class="btn btn-primary" value="Изчисти подписа" onClick="clearCanvas('drawCanvasSignature')" />
                    </div>
                </div>
                <div class="alert alert-warning" role="alert" id="orderStatusCollected" style="display:none;" align="center">
                    Преда да бъде приета поръчката от куриер клиента трябва да се подпише! Подпис на клиента:
                    <div id="drawDivSignatureCollected">
                        <div id="emptyCanvasSpan" style="color: #00FFFF; font-size: 24px; height: 100%; display: none;">Подпис задължителен</div>
                        <canvas id="drawCanvasSignatureCollected" width="800" height="150" style="border: 5px solid orangered; height: 100%;"></canvas>
                        <input class="btn btn-primary" value="Изчисти подписа" onClick="clearCanvas('drawCanvasSignatureCollected')" />
                    </div>
                </div>
                <table border="0" frame="void" rules="rows" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="center" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.orderDetailDescription)
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(u => u.orderDetailDescription, new { style = "width:100%; padding: 10px; margin: 0px;" })
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="center" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.stationId)
                                        </div>
                                        <div class="editor-field">
                                            @Html.DropDownListFor(u => u.stationId, new SelectList(Model.stationId, "Value", "Text"), "", new { @id = "stationId", required = "required", style = "width:100%; padding: 10px; margin: 0px;" })
                                            @Html.ValidationMessageFor(u => u.stationId)
                                        </div>
                                    </td>
                                    <td align="center" valign="top">
                                        <div class="editor-label">
                                            @Html.LabelFor(u => u.statusId)
                                        </div>
                                        <div class="editor-field">
                                            @Html.DropDownListFor(u => u.statusId, new SelectList(Model.statusId, "Value", "Text"), "", new { @id = "statusId", required = "required", style = "width:100%; padding: 10px; margin: 0px;", @onchange = "checkFinishingOrder(this);" })
                                            @Html.ValidationMessageFor(u => u.statusId)
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>
            <div>
                @Html.ValidationMessage("CHECK_USERS")
            </div>

            <!--input type="submit" class="btn btn-primary" value="Запази" onClick="return saveNewObject()" />-->
            <button id="btnSave" class="btn btn-primary" onclick="return saveNewObject()">Запази</button>
            <input type="reset" class="btn btn-primary" value="Отказ" onClick="cancelObject()" />
        </fieldset>
    </form>
</div>

<div id="dataBody">
    <div class="alert alert-success" role="alert" id="warningDiv" style="display:none;" align="center">
        Поръчката вече е завършена не може да се правят повече промени по нея!
        <div id="drawDiv">
            <canvas id="drawCanvas"></canvas>
        </div>
    </div>
    <div class="alert alert-success" role="alert" id="warningDivCollected" style="display:none;" align="center">
        Поръчката е е приета от куриер.
        <div id="drawDivCollected">
            <canvas id="drawCanvasCollected"></canvas>
        </div>
    </div>
    <p>Детайли на поръчка</p>
    <table id="tableData" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>№</th>
                <th>№ пор.</th>
                <th>Станция</th>
                <th>Потребител</th>
                <th>Детайли</th>
                <th>Статус</th>
                <th>Дата</th>
                <th>Завършена</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>№</th>
                <th>№ пор.</th>
                <th>Станция</th>
                <th>Потребител</th>
                <th>Детайли</th>
                <th>Статус</th>
                <th>Дата</th>
                <th>Завършена</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>
<div id="editButtonDiv">
    <button id="btnNew" class="btn btn-primary" onclick="newObject()">Добави детаил</button>
</div>